<div class="sidebar">

  <div class="sideContainer">
    <button type="button" class="btnNew btn-sm">+ Nuevo</button>

    <h2>Acceso rápido a servicios</h2>
    <div *ngFor="let boton of botones; let i = index">
      <button *ngIf="i < 3" type="button" class="btn btn-sm">{{ boton.nombre }}</button>
    </div>

    <h2>Etiquetas</h2>

    <button type="button" class="btn btn-sm">HOL</button>
    <button type="button" class="btn btn-sm">AMBI</button>
    <button type="button" class="btn btn-sm">HYS</button>

    <h2>Reportes</h2>
    <button type="button" class="btn btn-sm">Ver Reportes</button>

    <a href="#">Administrador</a>
  </div>

</div>