body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100vh;
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #DFEEEE;
    border-radius: 10px;
    border: 3px solid #46454575;
    padding-top: 20px;
}

/* Establecer el espacio a los laterales */
.sideContainer {
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    margin-top: 25px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #464545;
}

.btnNew {
    margin-top: 10px;
    margin-left: 15px;
    width: 70%;
    height: 30px;
    color: #464545;
    background-color: #FFE08C;
    border: 1px solid #464545;
    /* Borde sólido como base */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra estilo sombreado */
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.btnNew:hover {
    color: #000000;
    border: 1px solid #4645456e;
    transform: scale(1.05);
    /* Efecto de "push" al hacer hover */
}

.btn {
    margin-top: 10px;
    margin-left: 15px;
    width: 70%;
    height: 30px;
    color: #464545;
    background-color: #4DBDEB;
    border: 1px solid #464545;
    /* Borde sólido como base */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra estilo sombreado */
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover {
    background-color: #FFE08C;
    color: #000000;
    border: 1px solid #4645456e;
    transform: scale(1.05);
    /* Efecto de "push" al hacer hover */
}

h2 a {
    color: inherit;
    /* Hereda el color del texto del contenedor (en este caso, el color por defecto) */
    text-decoration: none;
    /* Elimina el subrayado predeterminado del enlace */
    transition: color 0.3s ease, font-size 0.3s ease;
    /* Transiciones para suavizar los cambios */
}

h2 a:hover {
    color: #4DBDEB;
    /* Cambia el color al pasar el ratón por encima */
    font-size: 20px;
    /* Aumenta el tamaño en 2 píxeles al pasar el ratón por encima */
}