<body class="rpt0Container">
    <div class="container">
        <div class="scrollable-table mat-elevation-z3">
            <table>
                <thead style="position: sticky; top:0;">
                    <tr>
                        <th>ID</th>
                        <th>Empresa</th>
                        <th>Rubro</th>
                        <th>Tipo de servicio</th>
                        <th>Dependencia</th>
                        <th>Estado</th>
                        <th>Avance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let element of serviciosEnCurso">
                        <td>{{ element.idServicio }}</td>
                        <td>{{ element.empresa }}</td>
                        <td>{{ element.rubro }}</td>
                        <td>{{ element.tipoServicio }}</td>
                        <td>{{ element.dependenciaInvolucrada }}</td>
                        <td>{{ element.estado }}</td>
                        <td>{{ element.porcentajeAvance+'%'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="chart-wrapper" style= "padding:1rem;">
        <div>
            <h1 style="text-align: center;">Servicios en curso</h1>
        </div>
        <canvas style="margin-top: 2rem;" baseChart width="300" height="300" type="pie" [data]="lineChartData">
        </canvas>
    </div>
    
</body>