<body class="rpt0Container">

    <mat-card>
        <mat-card-content>
            <div class="chart-wrapper" style="padding:1rem;">
                <div>
                    <h1 style="text-align: center;">Servicios en curso</h1>
                </div>
                <canvas style="margin-top: 2rem;" baseChart width="350" height="350" type="pie" [data]="lineChartData">
                </canvas>
            </div>
            <p style="width: 350px;">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions align="start">
            <button mat-button color="primary" (click)="openDataSource()">FUENTE DE DATOS</button>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <div class="chart-wrapper" style="padding:1rem;">
                <div>
                    <h1 style="text-align: center;">Gráfico de Dependencias</h1>
                </div>
                <canvas style="margin-top: 2rem;" baseChart width="300" height="300" type="pie"
                    [data]="pieChartDataDependencias">
                </canvas>
            </div>
        </mat-card-content>
    </mat-card>


    <mat-card>
        <mat-card-content>
            <div class="chart-wrapper" style="padding:1rem;">
                <div>
                    <h1 style="text-align: center;">Gráfico de Tipos de Servicios</h1>
                </div>
                <canvas style="margin-top: 2rem;" baseChart width="300" height="300" type="pie"
                    [data]="pieChartDataTipos">
                </canvas>
            </div>
        </mat-card-content>
    </mat-card>

    <button (click)="actualizarDatosTorta()">Visualizar data</button>

</body>