<body class="rpt0Container" style="align-items: center; align-content: center; justify-content: center;">

    <div style="display: flex;">
        <div>
            <h1>Servicios en curso</h1>
            <p>
                Recuento y porcentajes de avance respecto a los Rubros, tipos de servicios y Dependencias involucradas
            </p>
        </div>
    </div>

    <div style="display: flex;">
        <mat-card>
            <mat-card-content>
                <div class="chart-wrapper" style="padding:1rem;">
                    <div>
                        <h1 style="text-align: center;">Rubros</h1>
                    </div>
                    <canvas style="margin-top: 2rem;" baseChart width="300" height="300" type="doughnut"
                        [data]="pieChartDataRubros">
                    </canvas>
                </div>
            </mat-card-content>
            <mat-card-actions align="start">
                <button mat-button color="primary" (click)="openDataSource()">FUENTE DE DATOS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <div class="chart-wrapper" style="padding:1rem;">
                    <div>
                        <h1 style="text-align: center;">Dependencias</h1>
                    </div>
                    <canvas style="margin-top: 2rem;" baseChart width="300" height="300" type="doughnut"
                        [data]="pieChartDataDependencias">
                    </canvas>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-content>
                <div class="chart-wrapper" style="padding:1rem;">
                    <div>
                        <h1 style="text-align: center;">Tipos de Servicios</h1>
                    </div>
                    <canvas style="margin-top: 2rem;" baseChart width="300" height="300" type="doughnut"
                        [data]="pieChartDataTipos">
                    </canvas>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</body>