<div class="sidebar">

  <div class="sideContainer">

    <!-- Botón nuevo -->
    <button routerLink="/nuevo" type="button" class="btnNew btn-sm" matTooltip="Crear nuevo servicio">+ Nuevo</button>
    <mat-divider></mat-divider>

    <!-- Gestión de servicios -->
    <h2>Estado de servicio</h2>
    <div *ngFor=" let estado of estados; let i = index">
      <button routerLink="" *ngIf="i < 3" type="button" class="btn btn-sm">{{ estado.nombre }}</button>
    </div>

    <h2>Tipo de servicio</h2>
    <div *ngFor=" let tipo of tipos; let i = index">
      <button routerLink="" *ngIf="i < 3" type="button" class="btn btn-sm">{{ tipo.nombre }}</button>
    </div>

    <!-- Reportes -->
    <mat-divider></mat-divider>
    <h2>Reportes</h2>
    <button type="button" class="btn btn-sm">Ver Reportes</button>

    <!-- admin -->
    <mat-divider></mat-divider>
    <h2>
      <a href="" matTooltip="Administrar elementos del sistema">Administrador <img src="assets/img/arrowUp.png"></a>
    </h2>

  </div>

</div>