body {
    margin: 0;
    padding: 0;
}

/* Estilos para el sidebar */
.sidebar {
    height: 100vh;
    width: 14rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #DFEEEE;
    border-radius: 0.5rem;
    border: 0.15rem solid #46454575;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.sideContainer {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

mat-card * {
    margin: 0;
}

/* Estilos h2 normales dentro del sidebar*/
h2 {
    margin-top: 1rem;
    margin-left: 0.75rem;
    margin-bottom: 0.25rem;
}

/* Estilos para los botones normales */
.btn {
    margin-top: 0.35rem;
    margin-left: 0.75rem;
    width: 70%;
    height: 1.8rem;
    color: #464545;
    background-color: #4DBDEB;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn:hover {
    background-color: #FFE08C;
    color: #ffffff;
    transform: scale(1.05);
    /* Efecto de "push" al hacer hover */
}

/* Estilos reportes y backoffice */
img {
    height: 0.75rem;
    width: 0.75rem;
    margin-left: 0.25rem;
}

h2 a {
    /* Hereda el color del texto del contenedor (en este caso, el color por defecto) */
    /* Elimina el subrayado predeterminado del enlace */
    transition: color 0.4s, font-size 0.3s ease;
    /* Transiciones para suavizar los cambios */
    cursor: pointer;
}

h2 a:hover>img {
    transform: rotate(90deg);
    border-radius: 50%;
    transition: transform 0.4s ease;
}

/* Estilos para el divisior */
.mat-divider {
    border-top: 1px solid #ccc;
    margin-top: 0.75rem;
}
