<div class="sidebar" *ngIf="shouldShowSidebar"> <!-- *ngIf="shouldShowSidebar" para que no muestre la sidebar en el login -->

  <div class="sideContainer">

    <!-- Botón nuevo 
    <section class="btn-nuevo">

      <button routerLink="/nuevo" type="button" class="btn btn-sm" [disabled]="!canAddServicio"
      matTooltip="Crear nuevo servicio"><span>+ NUEVO</span></button>
      <mat-divider></mat-divider>

    </section>-->

    <section id="serviceFilter">

      <div>
        <h2>Tipo de Servicio</h2>
        <mat-card class="scrollContainerTipoServicio">

          <div class="checkboxContainer" *ngFor=" let tipo of tipoServicios;">
            <p>
              <mat-checkbox  (change)="sendTipoServicio(tipo.tipoServicio)"></mat-checkbox>
             {{ tipo.tipoServicio }}
            </p>
          </div>

        </mat-card>
      </div>

      <div>
        <h2>Condición</h2>
        <mat-card class="scrollContainerCondicion">

          <div class="checkboxContainer" *ngFor=" let categoria of categorias;">
            <p>
              <mat-checkbox  (change)="sendCategoria(categoria.categoria!)"></mat-checkbox>
             {{ categoria.categoria}}
            </p>
          </div>

        </mat-card>
      </div>

      <div>
        <h2>Filtar Estados</h2>
        <mat-card class="scrollContainerStatus">

          <div class="checkboxContainer" *ngFor=" let estado of listEstados;">
            <p>
              <mat-checkbox (change)="sendStatus(estado.tipoEstado!)"></mat-checkbox>
             {{estado.tipoEstado}}
            </p>
          </div>

        </mat-card>
      </div>

     

    </section>

  </div>

</div>