body {
    margin: 0;
    padding: 0;
}

/* Estilos para el sidebar */
.sidebar {
    height: 100vh;
    width: 14.5rem;
    /* Anchura del sidebar */
    position: fixed;
    top: 0;
    left: 0.17rem;
    background-color: #36cbf900;
    border-radius: 0.5rem;
    border: 0.15rem solid #46454500;
    padding-bottom: 0.75rem;

}

.sideContainer {

    padding-left: 0.25rem;
    padding-right: 0.25rem;

}


mat-card * {
    margin: 0;
    background-color: #DFEEEE;

}

mat-card {
    border: 0.3125rem solid rgba(45, 190, 234, 0.122);
    /* Borde general */
    border-radius: 0.3125rem;
}

/* Estilos h2 normales dentro del sidebar*/
h2 {
    text-align: center;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    color:rgb(255, 255, 255);
    background-color: #10b5f195;
    border-radius: 8px;
}


mat-card[_ngcontent-dix-c45] *[_ngcontent-dix-c45] {
    justify-items: end;
}

.checkboxContainer>* {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    color: #000000;
    
}

.scrollContainerStatus {
    height: 19rem;
    overflow:auto;
    scroll-behavior:smooth;
 
}

.ContainerTipoServicio {
    max-height: 9rem;
    overflow: hidden;
  
}


  /* Chrome, Edge, and Safari */
.scrollContainerStatus::-webkit-scrollbar {
    width: 3px;
     /* Ancho del scroll bar */
  }
  
  .scrollContainerStatus::-webkit-scrollbar-track {
    background: #DFEEEE; /* Color de fondo del track */
    border-radius: 5px;
  }
  
  .scrollContainerStatus::-webkit-scrollbar-thumb {
    background-color: #DFEEEE; /* Color del thumb */
    border-radius: 1px;
    border: 1px solid #DFEEEE; /* Espacio alrededor del thumb */
    
  }
  
  .scrollContainerStatus::-webkit-scrollbar-thumb:hover {
    background: #DFEEEE; /* Color del thumb al pasar el mouse */
  }


 
