<ng-container>
  <form [formGroup]="firstFormGroup">
    <mat-icon matSuffix color="primary" class="infoSystem" matTooltip="Instructivo" (click)="goInstructor()">
      live_help
    </mat-icon>
    <mat-form-field>
      <mat-label for="Riesgo">Nombre del Riesgo</mat-label>
      <input type="text" placeholder="Buscar o crear un Riesgo" name="Riesgo"
      formControlName="Riesgo" maxlength="45" matInput [matAutocomplete]="auto" 
      (focus)="onInputFocus()" required (input)="checkExistName($event)">
      <mat-icon matSuffix class="backspace" matTooltip="Limpiar formulario" (click)="backspace()">
          backspace
      </mat-icon>
      
      <mat-error *ngIf="firstFormGroup.get('Riesgo')!.hasError('maxlength')">
          Máximo de 45 caracteres.
      </mat-error>
      <mat-error *ngIf="firstFormGroup.get('Riesgo')?.hasError('duplicated')">
          Ese nombre ya existe.
      </mat-error>

      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
          (optionSelected)="seleccionarRiesgo($event.option.value)">
          <mat-option *ngFor="let riesgo of filteredOptions | async" [value]="riesgo.riesgo">
              {{ riesgo?.riesgo }}
          </mat-option>
      </mat-autocomplete>

    </mat-form-field>
    
    <div class="btn-abm">
      <button mat-button (click)="crearRiesgo()" [disabled]="disableBtnCrear || equalName">Crear</button>
      <button mat-button matTooltip="Confirmar Cambio" (click)="modificarRiesgo()" [disabled]="disableBtnEditDelete">Modificar</button>
      <button mat-button (click)="checkDelete()" [disabled]="disableBtnEditDelete">Eliminar</button>
      
    </div>
  </form>
</ng-container>

<ng-template #riesgoHelp>
  <ol>
    <li><strong>Crear Riesgo:</strong> Ingrese el nombre del nuevo riesgo en el campo correspondiente y presione el botón "Crear".
    </li>
    <li><strong>Editar Riesgo:</strong>
      <ol type="a">
        <li>Busque el riesgo que desea editar en la lista desplegable ("Buscar Riesgo").</li>
        <li>Seleccione el riesgo deseado.</li>
        <li>Modifique los datos necesarios y presione el botón "Modificar".</li>
      </ol>
    </li>
    <li><strong>Eliminar Riesgo:</strong>
      <ol type="a">
        <li>Busque el rubro que desea eliminar en la lista desplegable ("Buscar Riesgo").</li>
        <li>Seleccione el riesgo deseado.</li>
        <li>Presione el botón "Eliminar".</li>
      </ol>
    </li>
  </ol>
</ng-template>