<ng-container>
  <form [formGroup]="firstFormGroup">
    <mat-form-field>
      <input type="text" placeholder="Buscar Riesgo" aria-label="Buscar Riesgo" matInput [formControl]="myControl"
        [matAutocomplete]="auto" (focus)="onInputFocus()">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
        (optionSelected)="seleccionarRiesgo($event.option.value)">
        <mat-option *ngFor="let riesgo of filteredOptions | async" [value]="riesgo.riesgo">
          {{ riesgo?.riesgo }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="Riesgo">Riesgo</mat-label>
      <input matInput placeholder="Nuevo Riesgo" formControlName="Riesgo" maxlength="45" [required]="true"
        (input)="checkExistName($event)">
      <mat-error *ngIf="firstFormGroup.get('Riesgo')?.hasError('duplicate')">
        Ese nombre ya existe.
      </mat-error>
    </mat-form-field>
    <div class="btn-abm" (click)="formularioTieneErrores()">
      <button mat-button (click)="crearRiesgo()" [disabled]="modificarEliminarHabilitado || this.equalName">Crear</button>
      <button mat-button (click)="modificarRiesgo()" [disabled]="!modificarEliminarHabilitado">Modificar</button>
      <button mat-button (click)="checkDelete()" [disabled]="!modificarEliminarHabilitado">Eliminar</button>
    </div>
  </form>
</ng-container>