<!-- Contenedor de la sección ver servicios -->
<div class="moduleContainer">
    <app-title-bar [titulo]="title"></app-title-bar>
    <div class="childContainer">
        <section class="menu">
            <h2 id="menuTitle">Administrar</h2>
            <h2 class="mobile-title">ABM</h2>
                <mat-divider class="mat-divider-custom"></mat-divider>
            <mat-action-list class="action-list">
                <button mat-list-item routerLink="clientes"><span>Clientes</span></button><mat-divider></mat-divider>
                <button mat-list-item><span>Rubros</span></button><mat-divider></mat-divider>
                <button mat-list-item routerLink="servicios"><span>Tipos de Servicio</span></button><mat-divider></mat-divider>
                <button mat-list-item><span>Items</span></button><mat-divider></mat-divider>
                <button mat-list-item><span>Estados</span></button><mat-divider></mat-divider>
                <button mat-list-item><span>Usuarios</span></button><mat-divider></mat-divider>
            </mat-action-list>
        </section>
        <section class="menuContent">
            Insertar el contenido del administrador de servicios
        </section>
    </div>
</div>