<!-- Contenedor de la sección ver servicios -->
<div class="moduleContainer">
  <app-title-bar [titulo]="title"></app-title-bar>
  <div class="childContainer">
    <section class="" id="seccionInfoServicio">

      <div class="cardContainer">

        <div class="input-group">

          <div class="col-md-4">
            <h6>Datos del Servicio</h6>

            <div class="datoServicio">
              <ul>
                <li>
                  <strong>Identificador:</strong> {{ servicioRecibido.id }}
                </li>
                <li *ngIf="servicioRecibido.recurrencia > 0">
                  <strong>Recurrencia: </strong> {{ servicioRecibido.recurrencia }} <strong>/ </strong>
                  <strong>Referencia: </strong> {{ servicioRecibido.referencia }}
                </li>
                <li><strong>Tipo: </strong>{{ servicioRecibido.tipo }}</li>
                <li><strong>Estado: </strong>{{ servicioRecibido.estado }}</li>
                <li><strong>Fecha de notificación: </strong>{{ servicioRecibido.fecha_notificacion | date:'dd/MM/yyyy'}}
                </li>
                <li><strong>Hora de notificación: </strong>{{ servicioRecibido.fecha_notificacion | date:'HH:mm'}}</li>
              </ul>

            </div>

            Avance
            <div class="progress" role="progressbar" aria-label="Warning example"
            aria-valuenow="{servicioRecibido.avance}" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar text-bg-warning" style="width: {{ servicioRecibido.avance }}%">{{
              servicioRecibido.avance }}</div>
          </div>

          </div>


          <div class="col-md-4">
            <div>
              <h6>Datos del cliente</h6>
            </div>

            <div class="datoServicio">
              <ul>
                <li><strong>Cliente: </strong>
                  {{ servicioRecibido.cliente }}</li>
                <li><strong>Rubro: </strong>
                  {{ servicioRecibido.rubro}}</li>
                <li><strong>Se le ha presupuestado: </strong>{{"$ "+servicioRecibido.total_presupuestado}}</li>
                <button>contacto</button>
              </ul>


            </div>

          </div>

        </div>

        <div class="input-group">



          <div class="input-group col-md-4">
            <span class="input-group-text">Avance</span>
            <label type="number" class="form-control"><span>{{ servicioRecibido.avance +" %" }}</span></label>
          </div>

        </div>

        <div class="input-group">
          <div class="input-group col-md-11">
            <span class="input-group-text">Comentario</span>
            <label type="number" class="form-control"><span>{{servicioRecibido.comentario}}</span></label>
          </div>
          <div class="input-group col-md-1" style="justify-content: center;">
            <span class="input-group-text matIcon"><mat-icon>settings_applications </mat-icon></span>
          </div>
        </div>

      </div>

      <!-- Checklist -->

      <div class="cardContainer input-group">

        <div class="d-flex flex-column mb-3">

          <div class="p-2">

            <div class="checkboxContainer" *ngFor="let item of servicioRecibido.itemChecklistDto">
              <p> <!-- Para ver todos, eliminar: *ngIf="i < 5" & let i = index" -->
                <mat-checkbox></mat-checkbox>
                <span>{{item.nombreItem}}</span>
              </p>
            </div>

          </div>

        </div>

      </div>

    </section>
  </div>
</div>