p {
  font-size: 0.8rem;
}

.moduleContainer {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.childContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap-reverse;
  left: 0.5%;
  margin-top: 0.4rem;
  width: 99%;
  height: calc(97% - 2.8rem);
  /* Resta el alto de la barra de título */
  border-radius: 0.5rem;
  box-shadow: 0px 0.1rem 0.2rem rgba(0, 0, 2, 0.3);
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: auto;
 }

#seccionInfoServicio {  
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow:auto;
  scrollbar-width: auto;
  scrollbar-color: #ddd #ffffff;
}

.container{
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 98%;
  overflow:auto;
  scrollbar-width: auto;
  scrollbar-color: #ddd #ffffff;
}

.cardContainer {
  display: flex;
  margin: 0.5rem auto;
  padding: 0.5rem;
  background: #DFEEEE;
  border-radius: 0.5rem;
  box-shadow: 0px 0.1rem 0.2rem rgba(0, 0, 2, 0.3);
  width: 95%;
  height: 90%;
}

mat-form-field {
  width: 100%;
  padding-right: 1rem;
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

mat-menu, mat-icon {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

#matMenu,
span {
    font-size: 1rem;
}

.editMenu:hover, .editMenu:hover span, .editMenu:hover mat-icon {
  color: #673ab7;
}

/* Estilo para cuando se pasa el cursor sobre el elemento de eliminación */
.deleteMenu:hover, .deleteMenu:hover span, .deleteMenu:hover mat-icon {
  color: #f44336
}