<!-- Contenedor de la sección ver servicios -->
<div class="moduleContainer">

  <app-title-bar [titulo]="title"></app-title-bar>

  <ng-container class="childContainer">

    <section class="" id="seccionInfoServicio">

      <div class="cardContainer">
        <div class="container">

          <div class="row">

            <div class="col-md-8 mb-3 p-0">
              <div class="card">
                <div class="card-body paddingBody">
                  <h6 class="card-title">
                    <span class="mr-3">{{ recurrencia > 0 ? 'Cantidad de renovaciones: ' + recurrencia :'Este servicio no presenta renovaciones'}}</span>
                    <span class="mr-3" *ngIf="recurrencia > 0">ID Referente: {{ servicioRecibido.referencia }}</span>
                  </h6>
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-3 p-0">
              <div class="card p-0">
                <div mat-button [matMenuTriggerFor]="menu" class="paddingBody selectPrint">
                  <h6 class="card-title textCenter">
                      SERVICIO N° {{ servicioRecibido.idServicio }}
                      <mat-icon class="mat-icon">keyboard_arrow_down</mat-icon>
                  </h6>
                </div>
                <mat-menu id="matMenu" #menu="matMenu" xPosition="before">
                  <button mat-menu-item><span>Editar</span></button>
                  <button mat-menu-item><span>Eliminar</span></button>
                </mat-menu>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-12 mb-3 p-0">
              <div class="card">
                <div class="card-body paddingBody">
                  <h6 class="card-title">
                    <span class="mr-3">Cliente: {{ servicioRecibido.cliente }}</span>
                    <span class="mr-3">Rubro: {{ servicioRecibido.rubro }}</span>
                    <span (click)="openDialog()" class="mr-3 link">Datos de contacto</span>
                  </h6>
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-12 mb-3 p-0">
              <div class="card">
                <div class="card-body paddingBody">
                  <h6 class="card-title">{{avance === 0 ? 'Aún no se ha comenzado a trabajar' : avance === 100 ? 'Servicio finalizado':'Avance'}}</h6>
                  <div class="progress" role="progressbar" [attr.aria-valuenow]="avance" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" [style.width.%]="avance">
                      {{ avance === 100 ? 'Completo' : avance + '%'}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-3 mb-3 p-0">
              <div class="card selectStyle">
                <div class="card-body paddingBody">
                  <h6 class="card-title">Tipo de servicio</h6>
                  <p class="card-text">{{ servicioRecibido.tipo }}</p>
                </div>
              </div>
            </div>

            <div class="col-md-3 mb-3 p-0">
              <div class="card selectStyle">
                <div class="card-body paddingBody">
                  <h6 class="card-title">Estado</h6>
                  <p class="card-text" style="color: #673ab7;">{{ servicioRecibido.estado }}</p>
                </div>
              </div>
            </div>

            <div class="col-md-3 mb-3 p-0">
              <div class="card selectStyle">
                <div class="card-body paddingBody">
                  <h6 class="card-title">Recordatorio</h6>
                  <span style="display: flex;">
                    <p class="card-text">{{ servicioRecibido.fecha_notificacion | date:'dd/MM/yyyy'}}</p>
                    <p class="card-text" style="margin-left: .5rem;">{{ servicioRecibido.fecha_notificacion |
                      date:'HH:mm'}}</p>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-3 mb-3 p-0">
              <div class="card selectStyle">
                <div class="card-body paddingBody textCenter">
                  <h6 class="card-title">Se ha presupuestado</h6>
                  <p class="card-text">{{"$ "+servicioRecibido.total_presupuestado}}</p>
                </div>
              </div>
            </div>

          </div>

          <div class="row" >

            <div class="col-md-12 mb-3 p-0">
              <div class="card custom-background">
                <div class="card-body paddingBody">
                  <h6 class="card-title">Comentario</h6>
                  <p style="font-style: oblique;" class="card-text">{{servicioRecibido.comentario}}</p>
                </div>
              </div>
            </div>

          </div>

          <!-- Sección para el pop up del checklist -->
          <div class="row">

            <div class="col-md-12 mb-3 p-0">
              <div class="card" style="align-items: center;">
                <div class="card-body paddingBody">

                  <!-- Button trigger modal -->
                  <button type="button" class="btn selectPrint" data-toggle="modal" data-target="#exampleModal">
                    Abrir checklist
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h6 class="modal-title font-weight-bold">CHECKLIST</h6> &nbsp;
                          <h5>"Selecciona un elemento para ver su descripción"</h5>
                          <button type="button" style="font-size: 1.2rem !important;" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>

                        <!-- Cuerpo del checklist -->
                        <div class="modal-body">
                          <!-- Progress bar -->
                          <span style="display: block; padding-bottom: 0.3rem;">
                            <mat-progress-bar mode="determinate" [value]="avance"></mat-progress-bar>
                          </span>
                          <!-- Lista de items del checklist -->
                          <div id="checkBox" class="list-group">

                            <cdk-accordion *ngFor="let item of servicioRecibido.itemChecklistDto; let index = index">
                              
                                <cdk-accordion-item
                            
                                  #accordionItem="cdkAccordionItem"
                                  
                                  role="button"
                                  tabindex="0"
                                  [attr.id]="'accordion-header-' + index"
                                  [attr.aria-expanded]="accordionItem.expanded"
                                  [attr.aria-controls]="'accordion-body-' + index">
                                  <div (click)="accordionItem.toggle()">

                                    <!-- Header del item del checklist -->
                                    <p class="list-group-item list-group-item-action checkboxContainer selectStyle">
                                      <mat-checkbox [checked]="item.completo" 
                                      (change)="updateAvance(item)" (click)="$event.stopPropagation()"></mat-checkbox>
                                      <span>
                                        {{item.nombreItem}} &nbsp;
                                        <span style="font-style: oblique; color: #f44336;">
                                          {{item.notificado ? '"Se considera notificado"' : ''}}
                                        </span>
                                      </span>
                                    </p>
                                  </div>

                                  <!-- Cuerpo o región del item del checklist -->
                                  <div
                                    role="region"
                                    class="cdk-accordion-content-body"
                                    [style.display]="accordionItem.expanded ? '' : 'none'"
                                    [attr.id]="'accordion-body-' + index"
                                    [attr.aria-labelledby]="'accordion-header-' + index">
                                    <!-- Contenido del item del checklist-->
                                    <span>
                                        <p>Se ha iniciado el: {{ item.inicioEstimado | date:'dd/MM/yyyy' }}</p>
                                        <p>Se pensó terminar el: {{ item.finEstimado | date:'dd/MM/yyyy' }}</p>
                                        <!-- 
                                          <p>Ejecución Real: {{ item.ejecucion_real | date:'dd/MM/yyyy' }}</p> 
                                          La ejecución real será igual que la del inicio estimado
                                        -->
                                        <!-- El fin real será igual al momento en que el usuario seleccione completar -->
                                        <p>Fin Real: {{ item.finReal | date:'dd/MM/yyyy' }}</p>
                                        <!-- El valor de la tasa se mostrará siempre que sea mayor a cero -->
                                        <span *ngIf="item.valorTasa > 0">
                                          <p>Valor Tasa: {{ item.valorTasa }}</p>
                                          <p>Hojas: {{ item.hojas }}</p>
                                        </span>
                                        <p>Responsable: {{ item.responsable }}</p>
                                        <p>URL Comprobante: {{ item.urlComprobante }}</p>
                                        <!-- Zona para marcar al item como notificado -->
                                        <p>
                                          <mat-chip-option [selected]="item.notificado" style="height: 50%;" color="warn" (click)="updateNotificado(item)">
                                            <span>{{ item.notificado? 'Notificado' : 'Notificar'}}</span>
                                          </mat-chip-option>
                                        </p>
                                    </span>
                                  </div>
                                </cdk-accordion-item>
                              
                            </cdk-accordion>

                            
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                          <button type="button" class="btn selectPrint">Aceptar</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>

    </section>

  </ng-container>

</div>