<!-- Contenedor de la sección ver servicios -->
<div class="moduleContainer">

  <app-title-bar [titulo]="title"></app-title-bar>

  <ng-container class="childContainer">

    <section class="" id="seccionInfoServicio">

      <div class="cardContainer">
        <div class="container">

          <div class="row">

            <div class="col-md-8 mb-3 p-0">
              <div class="card">
                <div class="card-body paddingBody">
                  <h6 class="card-title">
                    <span class="mr-3">{{ recurrencia > 0 ? 'Cantidad de renovaciones: ' + recurrencia :'Este servicio no presenta renovaciones'}}</span>
                    <span class="mr-3" *ngIf="recurrencia > 0">ID Referente: {{ servicioRecibido.referencia }}</span>
                  </h6>
                </div>
              </div>
            </div>

            <div class="col-md-4 mb-3 p-0">
              <div class="card p-0">
                <div mat-button [matMenuTriggerFor]="menu" class="paddingBody selectPrint">
                  <h6 class="card-title textCenter btnChecklist">
                      SERVICIO N° {{ servicioRecibido.idServicio }}
                      <mat-icon style="margin-left: 0.5rem; font-size: 1rem;" color="primary" class="mat-icon">tune</mat-icon>
                  </h6>
                </div>
                <mat-menu id="matMenu" #menu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="editarServicio()"><span>Editar</span></button>
                  <button mat-menu-item><span>Eliminar</span></button>
                </mat-menu>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-12 mb-3 p-0">
              <div class="card">
                <div class="card-body paddingBody">
                  <h6 class="card-title">
                    <span class="mr-3">Cliente: {{ servicioRecibido.cliente }}</span>
                    <span class="mr-3">Rubro: {{ servicioRecibido.rubro }}</span>
                    <span (click)="openContactPopUp()" class="mr-3 link">Datos de contacto</span>
                  </h6>
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-12 mb-3 p-0" *ngIf="this.getSvManager().calcularAvance(servicioRecibido) as avance">
              <div class="card">
                <div class="card-body paddingBody">
                  <h6 class="card-title">{{avance === 0 ? 'Aún no se ha comenzado a trabajar' : avance === 100 ? 'Servicio finalizado':'Avance'}}</h6>
                  <div class="progress" role="progressbar" [attr.aria-valuenow]="avance" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" [style.width.%]="avance">
                      <span>{{ avance === 100 ? 'Completo' : avance + '%'}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-3 mb-3 p-0">
              <div class="card">
                <div class="card-body paddingBody">
                  <h6 class="card-title">Tipo de servicio</h6>
                  <p class="card-text">{{ servicioRecibido.tipo }}</p>
                </div>
              </div>
            </div>

            <div class="col-md-3 mb-3 p-0">
              <div class="card">
                <div class="card-body paddingBody">
                  <h6 class="card-title">Estado</h6>
                  <p class="card-text" style="color: #673ab7;">{{ servicioRecibido.estado }}</p>
                </div>
              </div>
            </div>

            <div class="col-md-3 mb-3 p-0">
              <div class="card">
                <div class="card-body paddingBody">
                  <h6 class="card-title">Recordatorio</h6>
                  <span style="display: flex;">
                    <p class="card-text">{{ servicioRecibido.fecha_notificacion ? (servicioRecibido.fecha_notificacion | date:'dd/MM/yyyy') : 'Sin establecer'}}</p>
                    <p class="card-text" style="margin-left: .5rem;">{{ servicioRecibido.fecha_notificacion |
                      date:'HH:mm'}}</p>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-3 mb-3 p-0">
              <div class="card">
                <div class="card-body paddingBody textCenter">
                  <h6 class="card-title">Se ha presupuestado</h6>
                  <p class="card-text">{{"$ "+servicioRecibido.total_presupuestado}}</p>
                </div>
              </div>
            </div>

          </div>

          <div class="row" >

            <div class="col-md-12 mb-3 p-0">
              <div class="card custom-background">
                <div class="card-body paddingBody">
                  <h6 class="card-title">Comentario</h6>
                  <p style="font-style: oblique;" class="card-text">{{servicioRecibido.comentario}}</p>
                </div>
              </div>
            </div>

          </div>

          <!-- Sección para el Pop up del checklist -->
          <div class="row">

            <div class="col-md-12 mb-3 p-0">
              <div class="card" style="align-items: center;">
                <div class="card-body paddingBody">

                  <!-- Button trigger modal -->
                  <button (click)="openChecklistPopUp()" type="button" class="btn selectPrint contentChecklist">
                    <h6 class="card-title textCenter btnChecklist">
                      <mat-icon class="mat-icon">checklist</mat-icon>
                      ABRIR CHECKLIST
                    </h6>
                  </button>

                </div>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>

    </section>

  </ng-container>

</div>