<!-- Contenedor de la sección ver servicios -->
<div class="moduleContainer">
  <app-title-bar [titulo]="title"></app-title-bar>
  <div class="childContainer">

    <section class="" id="seccionInfoServicio">

      <div class="cardContainer">

        <div class="input-group">

          <div class="input-group col-md-4">
            <span class="input-group-text">ID Servicio</span>
            <label type="number" class="form-control"><span>{{ servicioRecibido.id }}</span></label>
          </div>

          <div class="input-group col-md-2">
            <span class="input-group-text">Recurrencia</span>
            <label type="number" class="form-control"><span>{{ servicioRecibido.recurrencia}}</span></label>
          </div>

          <div class="input-group col-md-2">
            <span class="input-group-text">Referencia</span>
            <label type="number" class="form-control"><span>{{ servicioRecibido.referencia}}</span></label>
          </div>

          <div class="input-group col-md-4">
            <span class="input-group-text">Presupuestado</span>
            <label type="number" class="form-control">
              <span>{{"$ "+servicioRecibido.total_presupuestado}}</span></label>
          </div>

        </div>

        <div class="input-group">

          <div class="input-group col-md-4">
            <span class="input-group-text">Tipo de servicio</span>
            <!-- <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"> -->
            <label type="number" class="form-control"><span>{{ servicioRecibido.tipo }}</span></label>
          </div>

          <div class="input-group col-md-4">

            <span class="input-group-text">Fecha de notificación</span>
            <label type="number" class="form-control">
              <span>{{ servicioRecibido.fecha_notificacion |
                date:'dd/MM/yyyy'}}</span>
            </label>

          </div>

          <div class="input-group col-md-4">

            <span class="input-group-text">Hora</span>
            <label type="number" class="form-control">
              <span>{{ servicioRecibido.fecha_notificacion | date:'HH:mm'}}</span>
            </label>

          </div>

        </div>

        <div class="input-group">

          <div class="input-group col-md-4">
            <span class="input-group-text">Cliente</span>
            <!-- <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"> -->
            <label type="number" class="form-control"><span>{{ servicioRecibido.cliente }}</span></label>
          </div>

          <div class="input-group col-md-4">
            <span class="input-group-text">Rubro</span>
            <label type="number" class="form-control"><span>{{ servicioRecibido.rubro}}</span></label>
          </div>

          <div class="input-group col-md-4">
            <span class="input-group-text matIcon"><mat-icon>contacts</mat-icon></span>
          </div>

        </div>

        <div class="input-group">

          <div class="input-group col-md-4">
            <span class="input-group-text">Estado del servicio</span>
            <label type="number" class="form-control"><span>{{ servicioRecibido.estado }}</span></label>
          </div>

          <div class="input-group col-md-4">
            <span class="input-group-text">Avance</span>
            <label type="number" class="form-control"><span>{{ servicioRecibido.avance +" %" }}</span></label>
          </div>

        </div>

        <div class="input-group">
          <div class="input-group col-md-11">
            <span class="input-group-text">Comentario</span>
            <label type="number" class="form-control"><span>{{servicioRecibido.comentario}}</span></label>
          </div>
          <div class="input-group col-md-1" style="justify-content: center;">
            <span class="input-group-text matIcon"><mat-icon>settings_applications </mat-icon></span>
          </div>
        </div>

      </div>

      <!-- Checklist -->

      <div class="cardContainer input-group">

        <div class="d-flex flex-column mb-3">

          <div class="p-2">

            <div class="checkboxContainer" *ngFor="let item of servicioRecibido.itemChecklistDto">
              <p> <!-- Para ver todos, eliminar: *ngIf="i < 5" & let i = index" -->
                <mat-checkbox></mat-checkbox>
                <span>{{item.nombreItem}}</span>
              </p>
            </div>

          </div>

        </div>

      </div>

    </section>
    
  </div>
</div>