/* Estilos generales para el popup */
.mat-dialog-container {
  /* Fuente formal y legible */
  background-color: #f5f5f5;
  /* Fondo gris claro */
  border: 0 1px solid #ddd;
  /* Borde sutil */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
}

/* Título del popup */
h2 {
  font-size: 1rem;
  /* Tamaño de letra moderado */
  font-weight: 500;
  /* Peso de letra medio */
  color: #333;
  /* Color de texto oscuro */
}

/* Contenido del popup */
mat-dialog-content {
  padding-top: 1rem !important;
  background-image: url('src\assets\img\porcelana2.jpg');
  background-size: auto;
  background-position: top;
  
  font-size: 0.9rem;
  /* Tamaño de letra más pequeño */
  line-height: 1.5;
  /* Interlineado para mejor legibilidad */
  color: #363636;
  /* Color de texto gris medio */
}

/* Lista de instrucciones */
.mat-dialog-content ol {
  list-style: decimal inside;
  /* Estilo de lista numérica */
  padding-left: 0;
}

/* Items de la lista */
.mat-dialog-content li {
  margin-bottom: 0.3rem;
}

/* Acciones en negrita */
.mat-dialog-content strong {
  font-weight: 600;
  /* Peso de letra semi-negrita */
}

/* Botón de cerrar */
.mat-dialog-actions button {
  background-color: #e0e0e0;
  /* Fondo gris claro */
  color: #333;
  /* Color de texto oscuro */
  border: none;
  /* Sin borde */
  padding: 0.55rem 1rem;
  /* Espaciado interno */
  border-radius: 0.25rem;
  /* Bordes redondeados */
  cursor: pointer;
}