.moduleContainer {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.childContainer {
    display: flex;
    margin:auto;
    margin-top: 9px;
    width: 99%;
    height: calc(97% - 56px); /* Resta el alto de la barra de título */
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 2, 0.3);
    justify-content: center;
    align-items: center;
}