<!-- Contenedor de la sección ver servicios -->
<div class="moduleContainer">
    <app-title-bar [titulo]="title"></app-title-bar>
    <div class="childContainer">
        <div class="row tabContainer">
            <mat-tab-group animationDuration="1000ms" [(selectedIndex)]="selectedTabIndex"
            (selectedTabChange)="tabChanged($event)" dynamicHeight>
            <form [formGroup]="servicioForm">

                <!-- Tab de Servicio -->
                <mat-tab label="Un">
                    <div class="formContainer">
                        <div class="formContent">
                            <h2>SERVICIO Y ESTADO</h2>
                            <div class="row p-5">
                                <div class="col-md-6">
                                    <h5>Tipo de servicio que se va a prestar</h5>
                                    <mat-form-field>
                                        <mat-label>Tipo de Servicio</mat-label>
                                        <mat-select formControlName="tipo" placeholder="Seleccionar tipo">
                                            <mat-option *ngFor="let tipo of tipoServiciosList" [value]="tipo">
                                                <span>{{tipo.tipoServicio}}</span>
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <h5>En que estado se declara el servicio</h5>
                                    <mat-form-field>
                                        <mat-label>Estado del Servicio</mat-label>
                                        <mat-select formControlName="estado" placeholder="Seleccionar estado">
                                            <mat-option *ngFor="let estado of estadoList" [value]="estado"
                                                [disabled]="isOptionDisabled(estado)">
                                                <span>{{estado.tipoEstado}}</span>
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <!-- Tab de Prestación a la empresa -->
                <mat-tab label="Dos">
                    <div class="formContainer">
                        <div class="formContent">
                            <h2>DETALLES DE LA ASIGNACIÓN DEL SERVICIO</h2>
                            <div class="row p-5">
                                <div class="col-md-4">
                                    <h5>Personal que presta el servicio</h5>
                                    <mat-form-field>
                                        <mat-label>Responsable</mat-label>
                                        <mat-select formControlName="responsable" placeholder="Seleccionar responsable">
                                            <mat-option *ngFor="let recurso of recursoList" [value]="recurso">
                                                <span>{{ recurso.nombre + ' Dni: ' + recurso.dni }}</span>
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <h5>Empresa a la que se le presta el servicio</h5>
                                    <mat-form-field>
                                        <mat-label>Empresa</mat-label>
                                        <mat-select formControlName="empresa" placeholder="Seleccionar empresa">
                                            <mat-option *ngFor="let empresa of empresaList" [value]="empresa">
                                                <span>{{empresa.cliente + ' Cuit: ' + empresa.cuit}}</span>
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <h5>Presupuesto del servicio</h5>
                                    <mat-form-field>
                                        <mat-label>$ {{presupuesto | number:'1.2'}}</mat-label>
                                        <input matInput formControlName="monto" placeholder="Ej: 100.0" type="text"
                                            inputmode="numeric" (value)="presupuesto"
                                            oninput="this.value = this.value.replace(/[^0-9.]/g, '');" required>
                                        <mat-error *ngIf="servicioForm.get('monto')?.hasError('pattern')">
                                            Ejemplo .
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <!-- Tab de Checklist -->
                <mat-tab label="Tres">
                    <div class="formContainer">
                        <div class="formContent">
                            <h2>CREACIÓN DEL CHECKLIST</h2>
                            <div class="row p-5">
                                <div class="col-md-12">
                                    <p> Lugar para insertar el Checklist </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </mat-tab>

                <!-- Tab del RESUMEN -->
                <mat-tab label="Guardar">
                    <div class="formContainer">
                        <div class="formContent">
                            <h2>RESUMEN</h2>
                            <div class="row" style="min-height: 10rem; align-items: center; margin: 0 auto;">
                                <div class="col-md-4">
                                    <h5>Datos del cliente:</h5>
                                    <mat-card class="cardResume">
                                        <span>{{ 'Empresa: ' + (servicioForm.get('empresa')?.value ? servicioForm.get('empresa')?.value.cliente + ' / Cuit: ' + servicioForm.get('empresa')?.value.cuit : '*') }}</span>
                                        <span>{{ 'Rubro: ' + (servicioForm.get('empresa')?.value ? servicioForm.get('empresa')?.value.rubro + ' / Riesgo: ' + servicioForm.get('empresa')?.value.riesgo : '*') }}</span>
                                        <span>{{ 'Ubicación: ' + (servicioForm.get('empresa')?.value ? servicioForm.get('empresa')?.value.direccion : '*') }}</span>
                                    </mat-card>
                                </div>
                                <div class="col-md-4">
                                    <h5>Resumen del servicio:</h5>
                                    <mat-card class="cardResume">
                                        <span>{{ 'Tipo de servicio: ' + (servicioForm.get('tipo')?.value ? servicioForm.get('tipo')?.value.tipoServicio : '*') }}</span>
                                        <span>{{ 'Estado actual: ' + (servicioForm.get('estado')?.value ? servicioForm.get('estado')?.value.tipoEstado : '*') }}</span>
                                        <span>{{ 'Presupuesto: ' + (servicioForm.get('monto')?.value ? '$' + (servicioForm.get('monto')?.value | number:'1.2') : '*') }}</span>
                                    </mat-card>
                                </div>
                                <div class="col-md-4">
                                    <h5>Datos del Responsable:</h5>
                                    <mat-card class="cardResume">
                                        <span>{{ 'Responsable: ' + (servicioForm.get('responsable')?.value ? servicioForm.get('responsable')?.value.nombre + ' ' + servicioForm.get('responsable')?.value.apellido : '*') }}</span>
                                        <span>{{ 'Rol: ' + (servicioForm.get('responsable')?.value ? servicioForm.get('responsable')?.value.rol : '*') }}</span>
                                        <span>{{ 'DNI: ' + (servicioForm.get('responsable')?.value ? servicioForm.get('responsable')?.value.dni : '*') }}</span>
                                    </mat-card>
                                </div>
                            </div>
                            <button (click)="sendNewServicio()" id="btnSave" mat-raised-button color="primary" [disabled]="!servicioForm.valid || sending">
                                {{ servicioForm.valid ? 'Guardar' : 'Completar campos'}}
                            </button>
                            <mat-error class="p-2" style="font-size: 0.9rem; margin-top: 0.5rem" *ngIf="!servicioForm.valid">
                                <span>Hay campos requeridos* incompletos</span>
                            </mat-error>
                        </div>                        
                    </div>
                </mat-tab>
            </form>
            </mat-tab-group>
            <!-- Navegación entre pestañas -->
            <div>
                <button mat-button (click)="goToNextTab(0)" [disabled]="selectedTabIndex === 0">Tab 1</button>
                <button mat-button (click)="goToNextTab(1)" [disabled]="selectedTabIndex === 1">Tab 2</button>
                <button mat-button (click)="goToNextTab(2)" [disabled]="selectedTabIndex === 2">Tab 3</button>
                <button mat-button (click)="goToNextTab(3)" [disabled]="selectedTabIndex === 3">Guardar</button>
            </div>
        </div>
    </div>
</div>