.moduleContainer {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.childContainer {
  display: flex;
  margin: auto;
  margin-top: 0.45rem;
  width: 99%;
  height: calc(97% - 2.8rem);
  /* Resta el alto de la barra de título */
  /* background-color: rgb(4, 0, 255); Desbloquear para ver el contenedor*/
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
}

/* Descomentar para eliminar el efecto display:flex 
.childContainer > * {
  display: block;
}

/* Ancho general de la tabla */
.tablaContainer {
  width: 95%;
}

/* Establece el espaciado vertical entre las filas */
table {
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  background-color: #4DBDEB;
  padding-right: 1%;
  /* Color de fondo de la tabla */
}

/* Estilos de las celdas cabeceras */
th {
  border: 0.05rem solid #ddd;
  padding: 0.5rem;
  top: 0;
  background-color: #ffffff;
  position: sticky;
  z-index: 2;
  /* Asegura que el encabezado aparezca sobre las celdas al hacer scroll */
}

/* Estilos de las filas */
.dataTable {
  position: relative;
  max-height: 15rem;
  /* Altura máxima de la tabla */
  overflow: auto;
  /* Añade una barra de desplazamiento cuando el contenido excede el tamaño del contenedor */
  scrollbar-width: auto;
  scrollbar-color: #ddd #4DBDEB;
}

.estiloRow {
  background: #DFEEEE;
  cursor: pointer;
}

tr.estiloRow:hover {
  background: #ddd;
}

.estiloRow:active {
  border-left: 0.15rem solid #FFE08C;
}

.estiloRow tr {
  border-bottom: #46454575;
}

/* Estilos del buscador */
.filert-selecter {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.buscador {
  width: 99%;
}

.lastServices {
  flex: 30%;
}

/* Estilo para el comentario */
.coment {
  cursor: pointer;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.coment:hover {
  color: #673ab7;
  text-decoration: underline;
  cursor: pointer;
}

.gestor-svs{
  display: flex; 
  justify-content: space-between;
}

.buscador-field{
  width: 99%;
}

.listar-field{
  width: 99%;
}

/*Pude forzar el cambio de fuente con el * en el css excepto por 
las tres etiquetas que siguen de la tabla de servicios*/

.mat-mdc-header-cell{
  font-family:'Quicksand', sans-serif;
 
} /*fuente para header de la tabla de servicios*/

.mat-mdc-cell{
  font-family:'Quicksand', sans-serif;
 
} /*fuente para las filas de la tabla de servicios*/

.mat-mdc-option{
  font-family:'Quicksand', sans-serif;

} /*fuente para el interior del selector de la tabla de servicios*/
