<div class="moduleContainer">
    <app-title-bar [titulo]="title"></app-title-bar>
    <div class="childContainer">
        <app-spinner></app-spinner> <!-- Componente spinner: Funciona con inyección de servicio -->
        <div class="tablaContainer">

            <!-- Barra de filtrado por input de texto y selector de cantidad a mostrar -->
            <section class="gestor-svs">
                <div class="buscador">
                    <mat-form-field class="buscador-field">
                        <mat-label><span class="filerLabel">Buscar...</span></mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Nombre del cliente o empresa"
                            #input>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <mat-label><span class="filerLabel">Listar por cantidad</span></mat-label>
                        <mat-select [(ngModel)]="defaultSelected" (selectionChange)="loadServicios(defaultSelected)">
                            <mat-option *ngFor="let opcion of verUltimos" [value]="opcion.value">
                                <span class="filerLabel">{{ opcion.label }}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </section>

            <!-- Tabla de servicios -->
        
            <div class="mat-elevation-z0 dataTable">
                <table mat-table [dataSource]="dataSource">

                    <!-- cliente Column -->
                    <ng-container matColumnDef="cliente">
                        <th mat-header-cell *matHeaderCellDef class="text-center">
                            <span class="headTable">CLIENTES</span></th>
                        <td mat-cell *matCellDef="let element" class="text-center"
                            (click)="svService.enviarObjeto(element)">
                            <span class="contentTable">{{element.cliente.toUpperCase()}}</span>
                        </td>
                    </ng-container>

                    <!-- servicio Column -->
                    <ng-container matColumnDef="tipo">
                        <th mat-header-cell *matHeaderCellDef class="text-center">
                            <span class="headTable">SERVICIO</span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center"
                            (click)="svService.enviarObjeto(element)">
                            <span class="contentTable">{{element.tipo.toUpperCase()}}</span>
                        </td>
                    </ng-container>

                    <!-- avance Column -->
                    <ng-container matColumnDef="avance">
                        <th mat-header-cell *matHeaderCellDef class="text-center">
                            <span class="headTable">AVANCE</span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center"
                            (click)="svService.enviarObjeto(element)">
                            <span class="contentTable">{{svService.calcularAvance(element) + '%'}}</span>
                        </td>
                    </ng-container>

                    <!-- comentario Column -->
                    <ng-container matColumnDef="comentario">
                        <th mat-header-cell *matHeaderCellDef class="text-center">
                            <span class="headTable">COMENTARIO</span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center"
                            (click)="element.comentario !== '' ? openDialog(element) : svService.enviarObjeto(element)">
                            <span class="contentTable" *ngIf="element.comentario" class="coment">
                                Ver comentario
                            </span>
                        </td>
                    </ng-container>

                    <!-- alertas Column -->
                    <ng-container matColumnDef="alertas">
                        <th mat-header-cell *matHeaderCellDef class="text-center">
                            <span class="headTable">ALERTAS</span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-center">

                            <mat-icon *ngIf="!svService.checkPresentado(element)"
                                (click)="svService.enviarObjeto(element)">-</mat-icon>
                            <mat-icon matTooltip="Presentado" *ngIf="svService.checkPresentado(element)"
                                style="color: orange" (click)="svService.enviarObjeto(element)">adjust</mat-icon>

                            <mat-icon *ngIf="!svService.checkNotificaciones(element)"
                                (click)="svService.enviarObjeto(element)">-</mat-icon>
                            <mat-icon matTooltip="Notificado" *ngIf="svService.checkNotificaciones(element)"
                                style="color: red" (click)="svService.enviarObjeto(element)">adjust</mat-icon>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #ffffff;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns; let element;" class="estiloRow"></tr>
                </table>
            </div>
      
            <!-- divider -->
            <mat-divider style="margin-top: 1rem;"></mat-divider>
       
            <!-- Paginador -->
            <mat-paginator [pageSizeOptions]="[30]" showFirstLastButtons aria-label="Seleccionar página">
            </mat-paginator>
        
        </div>
    
    </div>

</div>
