.moduleContainer {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.childContainer {
  display: flex;
  flex-direction: column; /* Alinear los elementos verticalmente */
  align-items: center; /* Centrar horizontalmente los elementos */
  width: 100%; /* Utiliza el 100% del ancho del padre */
  height: calc(100% - 2.8rem); /* Ajusta la altura del contenedor hijo */
  overflow: auto; /* Agrega desplazamiento vertical si es necesario */
}

/* Zona de estilos para las distintas fuentes */
span {
  font-size: 0.8rem; /* Tamaño de la fuente de las labels de los filtros */
}
.headTable {
  font-weight: bold;
  color: #464545;
}
.coment {
  cursor: pointer;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.coment:hover {
  color: #673ab7;
  text-decoration: underline;
  cursor: pointer;
}
/* fin de la zona de estilos para las distintas fuentes   */

.contentTable {
  font-size: 0.8rem;
  color: #464545;
}

/* Ancho general de la tabla */
.tablaContainer {
  width: 95%; /* Reducir el ancho para evitar que quede pegado al borde de la pantalla */
  max-width: 95%; /* Agregar un ancho máximo */
  margin-top: 0.5rem; /* Agregar un espacio superior */
}

.mat-paginator {
  margin-top: 1rem; /* Agregar un espacio superior */
  margin-bottom: 1rem; /* Agregar un espacio inferior */
}

/* Establece el espaciado vertical entre las filas */
table {
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  background-color: #4DBDEB;
  width: 90%;
  max-width: 90%; /* Establece el ancho máximo */
}

/* Estilos de las celdas cabeceras */
th {
  border: 0.05rem solid #ddd;
  padding: 0.5rem;
  top: 0;
  background-color: #ffffff;
  position: sticky;
  z-index: 2;
  /* Asegura que el encabezado aparezca sobre las celdas al hacer scroll */
}

/* Estilos de las filas */
.dataTable {
  position: relative;
  overflow: auto;
  /* Añade una barra de desplazamiento cuando el contenido excede el tamaño del contenedor */
  scrollbar-width: auto;
  scrollbar-color: #ddd #4DBDEB;
  max-height: 55vh;
}

.estiloRow {
  background: #DFEEEE;
  cursor: pointer;
}

tr.estiloRow:hover {
  background: #ddd;
}

.estiloRow:active {
  border-left: 0.15rem solid #ffd740;
}

.estiloRow tr {
  border-bottom: #46454575;
}

/* Estilos del buscador */
.filert-selecter {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.buscador {
  width: 99%;
}

.lastServices {
  flex: 30%;
}

.gestor-svs{
  display: flex; 
  justify-content: space-between;
}

.buscador-field{
  width: 99%;
}

.listar-field{
  width: 99%;
}

/*Pude forzar el cambio de fuente con el * en el css excepto por 
las tres etiquetas que siguen de la tabla de servicios*/

.mat-mdc-header-cell{
  font-family:'Quicksand', sans-serif;
 
} /*fuente para header de la tabla de servicios*/

.mat-mdc-cell{
  font-family:'Quicksand', sans-serif;
 
} /*fuente para las filas de la tabla de servicios*/

.mat-mdc-option{
  font-family:'Quicksand', sans-serif;

} /*fuente para el interior del selector de la tabla de servicios*/