<div class="login-container">
    <div class="portada">
        <div class="img-portada">
        <img src="\assets\img\portada.png" alt="imagen de portada">  
        </div> 
    </div>

    <div class="login">
        <h2 class="saludo">BIENVENIDO</h2>
        <form (ngSubmit)="login()" class="form">
            <mat-form-field class="form-group">
                <mat-label>Usuario / Email</mat-label>
                <input matInput placeholder="mi.email@ejemplo.com" [formControl]="email" required>
                <mat-error *ngIf="email invalido">{{ getErrorMessage() }}</mat-error>
              </mat-form-field>
        
              <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>

            
            <button class="login-but" type="submit" (click)="login()">Login</button>
        </form>
    </div>
   
</div>