.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.anchoCajaItems {
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

mat-stepper {
  height: 30rem;
}