<div class="container">
    <div class="flexAling">
        <mat-label mat-dialog-title class="flexAling" style="width: 100%;">
            <span>Cambiar contraseña</span>
        </mat-label>
    </div>
    <mat-dialog-content>
        <form [formGroup]="changePass" style="width: 40rem; height: 16rem;">
            <mat-tab-group [(selectedIndex)]="selectedIndex">

                <mat-tab label="Validá tu contraseña" [disabled]="isOldPasswordValid">
                    <mat-form-field style="padding-top: 1rem; width: 100%;">
                        <mat-label>Contraseña actual</mat-label>
                        <input type="password" matInput formControlName="oldPassword" placeholder="ingresar password"
                            required maxlength="10">
                        <mat-error
                            *ngIf="changePass.get('oldPassword')?.invalid && (changePass.get('oldPassword')?.dirty || changePass.get('oldPassword')?.touched)">
                            Dato obligatorio.
                        </mat-error>
                    </mat-form-field>
                </mat-tab>

                <mat-tab label="Nueva contraseña" [disabled]="!isOldPasswordValid" style="width: 100%; display: flex; justify-content: space-between;">
                    <mat-form-field style="padding-top: 1rem; width: 100%;">
                        <mat-label>Nueva contraseña</mat-label>
                        <input type="password" matInput formControlName="newPassword" placeholder="Nueva contraseña"
                            required maxlength="10">
                        <mat-error
                            *ngIf="changePass.get('newPassword')?.invalid && (changePass.get('newPassword')?.dirty || changePass.get('newPassword')?.touched)">
                            Dato obligatorio.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field style="padding-top: 1rem; width: 100%;">
                        <mat-label>Repetir contraseña</mat-label>
                        <input type="password" matInput formControlName="passwordRepit" placeholder="Nueva contraseña"
                            required maxlength="10">
                        <mat-error
                            *ngIf="changePass.get('passwordRepit')?.invalid && (changePass.get('passwordRepit')?.dirty || changePass.get('passwordRepit')?.touched)">
                            Dato obligatorio.
                        </mat-error>
                    </mat-form-field>
                </mat-tab>

            </mat-tab-group>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button (click)="validOldPassword()" *ngIf="!btnCambiar">Validar</button>
        <button mat-button (click)="setNewPassword()" *ngIf="btnCambiar">Cambiar</button>
    </mat-dialog-actions>
</div>