<div class="flexAling">
    <mat-icon style="width: 10%;">key</mat-icon>
    <mat-label mat-dialog-title class="flexAling" style="width: 90%;"><span>Cambiar contraseña</span></mat-label>
</div>
<mat-dialog-content>

    <form [formGroup]="changePass">
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput formControlName="oldPassword" placeholder="anterior" required
                maxlength="10">
            <mat-error
                *ngIf="changePass.get('oldPassword')?.invalid && (changePass.get('oldPassword')?.dirty || changePass.get('contraseña')?.touched)">
                Dato obligatorio.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput formControlName="newPassword" placeholder="Nueva contraseña" required
                maxlength="10">
            <mat-error
                *ngIf="changePass.get('newPassword')?.invalid && (changePass.get('newPassword')?.dirty || changePass.get('contraseña')?.touched)">
                Dato obligatorio.
            </mat-error>
        </mat-form-field>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button>Cambiar</button>
</mat-dialog-actions>