.flexAling {
    display: flex;
    align-items: center;
  
    mat-label,
    mat-icon {
      margin: 0;
      padding: 0 0.6rem;
  
      span {
        font-size: 1.1rem;
      }
    }
  }
  
  button:hover {
    color: var(--primary);
  }
  
  .mdc-list {
    padding: 0;
  }
  
  .mat-mdc-list-base {
    --mdc-list-list-item-label-text-font: Quicksand;
  }
  
  mat-dialog-content {
    padding-bottom: 0 !important;
    padding: 0rem !important;
    background-image: url('src\assets\img\porcelana2.jpg');
    background-size: auto;
    background-position: top;
  }