mat-toolbar {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0px 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
    height: 2.8rem;
    justify-content:space-between;
}

mat-icon {
    font-size: 1.2rem;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFEEEE;
    box-shadow: 0px 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: #464545;
    transition: background-color 0.3s, box-shadow 0.3s, width 0.3s, height 0.3s;
}

mat-icon:hover {
    color: #673ab7;
    background-color: #ffd740;
    box-shadow: 0px 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
}

.btnLogout {
    margin-left: 0.5rem;
}

.titulo {
    font-size: 1.25rem;
    margin-left: 1rem;
    color: #464545;
}

.contenido-izquierdo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilos para los logos de la barra */
.contenido-derecho {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
}
.logos {
    margin: 0.5rem;
    width: 1.75rem;
    height: 1.75rem;
}

.texto-centro {
    flex: 1;
    text-align: center;
    white-space: pre-line;
    line-height: 0.7rem;
    font-size: 0.6rem;
    font-weight: 300;
}

/* Sobre escribo los estilos del divisor */
mat-divider {
    width: 0.05rem; /* Grosor del divider */
    height: 60%; /* Altura del divider */
}