<mat-toolbar>
    <div class="contenido-izquierdo">
        <mat-icon matTooltip="Regresar al home" routerLink="/home" fontIcon="home"></mat-icon>
        <p class="titulo">{{titulo}}</p>
    </div>

    <div>
        <p class="titulo">{{userName?'¡Hola '+userName+'!':''}}</p>
    </div>
    
    <div class="contenido-derecho">
        <mat-divider [vertical]="true"></mat-divider>
        <!-- Puedes ajustar las rutas de las imágenes según tus necesidades -->
        <img src="./assets/img/gg-logo.png" alt="Imagen Izquierda" class="logos">
        <span class="texto-centro">Grupo Green
            <br> SGTS
        </span>
        <img src="./assets/img/logo-unc-escmb.png" alt="Imagen Derecha" class="logos">
        <mat-divider [vertical]="true"></mat-divider>
        <div [matMenuTriggerFor]="menu" class="btnLogout">
            <mat-icon matTooltip="Cerrar sesión">logout</mat-icon>
        </div>
        <mat-menu id="matMenu" #menu="matMenu" xPosition="before">
            <button mat-menu-item class="btnLogout"><span>Configuración</span></button>
            <button mat-menu-item (click)="handleLogout()" class="btnLogout"><span>Cerrar sesión</span></button>
        </mat-menu>
    </div>
    
</mat-toolbar>