/* Mismo formato que la sidebar */
.rutasContainer {
    background-color: #DFEEEE;
    height: 100vh;
    width: calc(99% - 220px); /* Resta el ancho del sidebar al 99% del ancho total */
    margin-left: auto; /* Establece el margen izquierdo como automático para que ocupe el espacio restante a la derecha */
    border-radius: 10px;
    border: 3px solid #46454575;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Estilos para el contenedor que finalmente contiene las rutas */
.rutaSubContainer {
    background-color: #4DBDEB;
    height: 100%;
    width: 97%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra con desplazamiento horizontal 0, desplazamiento vertical 0, desenfoque 10px y opacidad 0.5 */
}
