<!-- 
** app-component es el componente madre que va a contener a los demás componentes para renderizarse.
-->
<mat-drawer-container class="app-cajon" autosize [hasBackdrop]="true" *ngIf="access">

    <mat-drawer #drawer mode="over">
        <!-- Sidebar componente-->
        <div class="cajon-sidebar">
        <app-sidebar></app-sidebar>

         </div>
        
    </mat-drawer>

    <mat-drawer-content>
        <div class="sidebar"> 

            <div class="sideContainer">
                <button mat-mini-fab color="warn" type="button" 
                class="btn-menu btn-nuevo" matTooltip="Nuevo servicio" (click)="goNuevo()">
                    <mat-icon>add</mat-icon>
                </button> 
                
                <button class="btn-menu" mat-mini-fab color="warn" matTooltip="Filtros" routerLink="/home" (click)="drawer.toggle()">
                    <mat-icon>tune</mat-icon>
                </button>

                <button mat-mini-fab color="warn" matTooltip="Panel de informes" routerLink="/reportes" class="btn-menu">
                    <mat-icon>timeline</mat-icon>
                </button>

                <button mat-mini-fab color="warn" matTooltip="BackOffice" routerLink="/administrador" (click)="openRptList()" class="btn-menu">
                    <mat-icon>settings</mat-icon>
                </button>

            </div>
          
          </div>
        <!-- Contenedor de componentes que serán rutas dinámicas-->
        <div *ngIf="access" class="rutasContainer">
            
                
             
            <div class="rutaSubContainer">
                <router-outlet></router-outlet>
            </div>

        </div>

       
    </mat-drawer-content>
</mat-drawer-container>

<!-- Login componente-->
<app-login *ngIf="!access"></app-login>