<div class="moduleContainer">
  <app-title-bar [titulo]="title"></app-title-bar>
  <div class="childContainer">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Poodle</mat-card-title>
        <img mat-card-avatar src="\assets\img\graficos.png">
        <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button>Abrir</button>
      </mat-card-actions>
    </mat-card>
    

  </div>
</div>