.moduleContainer {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

.childContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap-reverse;
    left: 0.5%;
    margin-top: 0.4rem;
    width: 99%;
    height: calc(97% - 2.8rem);
    /* Resta el alto de la barra de título */
    background-color: #DFEEEE;
    border-radius: 0.5rem;
    box-shadow: 0px 0.1rem 0.2rem rgba(0, 0, 2, 0.3);
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: auto;
   }

#btnRptListContainer {
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    
}

.childContainer::-webkit-scrollbar {
    width: 3px; /* Cambia el ancho del scrollbar vertical */
    height: 3px;
  
}

.childContainer::-webkit-scrollbar-thumb {
    background: #6d6d6d; 
    border-radius: 5px; 
}
