.moduleContainer {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

.childContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap-reverse;
    left: 0.5%;
    margin-top: 0.4rem;
    width: 99%;
    height: calc(97% - 2.8rem);
    /* Resta el alto de la barra de título */
    background-color: #DFEEEE;
    border-radius: 0.5rem;
    box-shadow: 0px 0.1rem 0.2rem rgba(0, 0, 2, 0.3);
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: auto;
   }

#btnRptListContainer {
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    
}

mat-icon {
    font-size: 1.2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5e079c;
    color: #ffffff;
    box-shadow: 0px 0.5rem 01rem rgba(0, 0, 0, 0.3);
    transition: background-color 0.4s ease, box-shadow 0.1s ease;
    border: 2px solid #ffffff;
    cursor: pointer;
    
}

mat-icon:hover {
    font-size: 1.4rem;
    color: #673ab7;
    background-color: #ffd740;
    box-shadow: 0px 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}



@keyframes spinAndScale {
    0% {
      transform: rotate(0deg) scale(0.5);
    }
    100% {
      transform: rotate(360deg) scale(1.15);
    }
  }
  
  .btn-menu {
    animation: spinAndScale 3s alternate-reverse;
    animation-iteration-count: 6;

  }

  @media (max-width: 600px) {
    .btn-menu {
        width: 1.7rem;
        height: 1.7rem;
        font-size: small;
    }
  }

.childContainer::-webkit-scrollbar {
    width: 3px; /* Cambia el ancho del scrollbar vertical */
    height: 3px;
  
}

.childContainer::-webkit-scrollbar-thumb {
    background: #6d6d6d; 
    border-radius: 5px; 
}
