<mat-label mat-dialog-title id="menuTitle">{{ data.menuTitle }}</mat-label>
<mat-dialog-content class="modal-body">
    
        
        <mat-divider class="mat-divider-custom"></mat-divider>
        <mat-action-list class="action-list">
            <button *ngFor="let item of data.menuItems" mat-list-item [routerLink]="item.link" mat-dialog-close>
                {{ item.label }}
            </button>
            <mat-divider></mat-divider>
        </mat-action-list>
    
</mat-dialog-content>