<div class="modal-body">
    <div class="menu-Confg">
        <mat-label id="menuTitle">Administrar</mat-label>
        <mat-divider class="mat-divider-custom"></mat-divider>
        <mat-action-list class="action-list">
            <button mat-list-item routerLink="administrador/clientes" mat-dialog-close>Clientes</button><mat-divider></mat-divider>
            <button mat-list-item routerLink="administrador/rubros" mat-dialog-close>Rubros</button><mat-divider></mat-divider>
            <button mat-list-item routerLink="administrador/riesgos" mat-dialog-close>Riesgos</button><mat-divider></mat-divider>
            <button mat-list-item routerLink="administrador/servicios" mat-dialog-close>Tipos de Servicio</button><mat-divider></mat-divider>
            <button mat-list-item mat-dialog-close>Items</button><mat-divider></mat-divider>
            <button mat-list-item routerLink="administrador/estados" mat-dialog-close>Estados</button><mat-divider></mat-divider>
            <button mat-list-item mat-dialog-close>Usuarios</button><mat-divider></mat-divider>
        </mat-action-list>
    </div>
</div>  
