  
  button:hover {
    margin: 0;
    border-left: 0.15rem solid #ffd740;
   }
  
  button span {
    font-weight: 200;
    color: #464645;
    
  }
  
  h2 {
    margin-top: 0.75rem;
    margin-bottom: 0;
       
  }
  
  mat-divider {
    margin: 0;
    padding: 0;
  }
  
  .mat-divider-custom {
    border-color: rgba(0, 0, 0, 0.354) !important;
  }
  
  .mdc-list {
    padding: 0;
  }
  
  /* Para que el h2 cambie segun el amaño de la pantalla*/
  @media screen and (max-width: 768px) {
    #menuTitle {
      display: none; /* Oculta el título "Administrar" en pantallas pequeñas */
    }
  
    .mobile-title {
      display: block; /* Muestra el título "ABM" en pantallas pequeñas */
    }
  }
  
  @media screen and (min-width: 769px) {
    #menuTitle {
      display: block; /* Muestra el título "Administrar" en pantallas grandes */
    }
  
    .mobile-title {
      display: none; /* Oculta el título "ABM" en pantallas grandes */
    }
  }