<div class="container">
    <form [formGroup]="firstFormGroup">
        <mat-icon matSuffix color="primary" class="infoSystem" matTooltip="Instructivo" (click)="goInstructor()">
            live_help
          </mat-icon>
        <div class="central">
            <mat-form-field class="buscar">

                <mat-label for="nombreItem">Nombre del Item</mat-label>
                <input type="text" placeholder="Buscar o crear un ítem" name="nombreItem"
                formControlName="nombreItem" matInput [matAutocomplete]="auto" 
                (focus)="onInputFocus()" [maxlength]="60" required (input)="checkRequisitoName($event)">
                <mat-icon matSuffix class="backspace" matTooltip="Limpiar formulario" (click)="backspace()">
                    backspace
                </mat-icon>
                <mat-error *ngIf="firstFormGroup.get('nombreItem')!.hasError('maxlength')">
                    Ingresa menos de 60 caracteres.
                </mat-error>
                <mat-error *ngIf="firstFormGroup.get('nombreItem')?.hasError('duplicate')">
                    Ese nombre ya existe.
                </mat-error>

                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)="seleccionarRequisito($event.option.value)">
                    <mat-option *ngFor="let requisito of filteredOptions | async" [value]="requisito?.descripcion">
                        {{ requisito?.descripcion }}
                    </mat-option>
                </mat-autocomplete>

            </mat-form-field>

            <mat-form-field>
                <mat-label for="tipoServicio">Tipo de Servicio</mat-label>
                <mat-select name="tipoServicio" formControlName="tipoServicio" required>
                    <mat-option *ngFor="let tipoServicio of tipoServicios" [value]="tipoServicio">
                        {{ tipoServicio?.tipoServicio }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label for="tipoItem">Tipo de Item</mat-label>
                <mat-select name="tipoItem" formControlName="tipoItem" required>
                    <mat-option *ngFor="let tipoItem of tipoItems" [value]="tipoItem">
                        {{ tipoItem.tipoItem }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label for="dependencia">Dependencia</mat-label>
                <mat-select name="dependencia" formControlName="dependencia" required>
                    <mat-option *ngFor="let dependencia of dependencias" [value]="dependencia">
                        {{ dependencia?.dependencia }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="tpoEstandar">
                <div class="duracion">
                    <mat-form-field>
                        <mat-label>Tiempo de duración</mat-label>
                        <input type="number" [min]="1" matInput formControlName="duracionEstandar" #input [max]="365"
                            [maxlength]="3">
                        <mat-error *ngIf="firstFormGroup.get('duracionEstandar')!.hasError('min')">
                            Minimo permitido: 0.
                        </mat-error>
                        <mat-error *ngIf="firstFormGroup.get('duracionEstandar')!.hasError('max')">
                            Máximo permitido: 365.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Días/Horas</mat-label>
                        <mat-select formControlName="diaHora">
                            <mat-option value="dias">Días</mat-option>
                            <mat-option value="horas">Horas</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <mat-form-field class="rubro">
                <mat-label for="rubro">Rubro</mat-label>
                <mat-select name="rubro" formControlName="rubro">
                    <mat-option *ngFor="let rubro of rubros" [value]="rubro">
                        {{ rubro?.rubro }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </form>

    <div class="btn" (click)="formularioTieneErrores()">
        <button mat-button (click)="crearItem()"
            [disabled]="!firstFormGroup.valid || !disableBtnEditDelete">Crear</button>
        <button mat-button matTooltip="Confirmar Cambio" (click)="modificarItem()"
            [disabled]="disableBtnEditDelete || !firstFormGroup.valid">Modificar</button>
        <button mat-button (click)="checkDelete()" [disabled]="disableBtnEditDelete">Eliminar</button>
    </div>
</div>

<ng-template #itemHelp>
    <ol>
      <li><strong>Crear Item:</strong>
        <ol type="a">
          <li>Ingrese el nombre del Item en el campo correspondiente.</li>
          <li>Complete todos los campos obligatorios. </li>
          <li>Presione el botón "Crear".</li>
        </ol>
      </li>
      <li><strong>Editar Item:</strong>
        <ol type="a">
          <li>Busque el Item que desea editar en la lista desplegable ("Nombre del Item").</li>
          <li>Seleccione el Item deseado.</li>
          <li>Modifique los datos necesarios.</li>
          <li>Presione el botón "Modificar".</li>
        </ol>
      </li>
      <li><strong>Eliminar Item:</strong>
        <ol type="a">
          <li>Busque el Item que desea eliminar en la lista desplegable.</li>
          <li>Seleccione el Item deseado.</li>
          <li>Presione el botón "Eliminar".</li>
        </ol>
      </li>
    </ol>
  </ng-template>