<ng-container *ngIf="secondFormGroup">
  <ng-container *ngIf="(stepperOrientation | async) as orientation">
    <ng-container [ngSwitch]="orientation">
      <ng-container *ngSwitchCase="'horizontal'">
      </ng-container>
      <ng-container *ngSwitchCase="'vertical'">
      </ng-container>
    </ng-container>

    <mat-stepper class="example-stepper" [orientation]="orientation" [ngStyle]="getStepperStyles()" linear>
      <mat-step [stepControl]="firstFormGroup" label="Datos del Cliente">
        <form [formGroup]="firstFormGroup">
          <mat-icon matSuffix color="primary" class="infoSystem" matTooltip="Instructivo" (click)="goInstructor()">
            live_help
          </mat-icon>
          <mat-form-field class="buscar">

            <mat-label for="cliente">Razon Social</mat-label>
            <input type="text" placeholder="Buscar o crear un cliente" name="cliente" formControlName="RazonSocial"
              matInput [matAutocomplete]="auto" (focus)="onInputFocus()" required (input)="checkClienteName($event)">
            <mat-icon matSuffix class="backspace" matTooltip="Limpiar formulario" (click)="backspace()">
              backspace
            </mat-icon>
            <mat-error *ngIf="firstFormGroup.get('RazonSocial')!.hasError('maxlength')">
              Ingresa menos de 60 caracteres.
            </mat-error>
            <mat-error *ngIf="firstFormGroup.get('RazonSocial')?.hasError('duplicate')">
              Ese nombre ya existe.
            </mat-error>

            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
              (optionSelected)="seleccionarEmpresa($event.option.value)">
              <mat-option *ngFor="let empresa of filteredOptions | async" [value]="empresa.cliente">
                {{ empresa.cliente }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field>
            <mat-label>CUIT / CUIL</mat-label>
            <input matInput placeholder="Ingrese solo números" formControlName="CUIT" required maxlength="13">
            <mat-error
              *ngIf="firstFormGroup.get('CUIT')?.invalid && (firstFormGroup.get('CUIT')?.dirty || firstFormGroup.get('CUIT')?.touched)">
              Dato obligatorio.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="Direccion" placeholder="Calle, número, ciudad" required maxlength="199">
            <mat-error
              *ngIf="firstFormGroup.get('Direccion')?.invalid && (firstFormGroup.get('Direccion')?.dirty || firstFormGroup.get('Direccion')?.touched)">
              Dato obligatorio.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="Rubro">Rubro</mat-label>
            <mat-select name="Rubro" formControlName="Rubro" required>
              <mat-option *ngFor="let rubro of rubros" [value]="rubro">{{ rubro?.rubro }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label for="Riesgo">Riesgo</mat-label>
            <mat-select name="Riesgo" formControlName="Riesgo" required>
              <mat-option *ngFor="let riesgo of riesgos" [value]="riesgo">{{ riesgo?.riesgo }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="btn-next">
            <button mat-button matStepperNext (click)="actualizarResumen()"
              [disabled]="!paso1EsValido()">Siguiente</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Crear Agenda" [optional]="true">
        <div class="step-content">
          <div class="step-form">
            <form [formGroup]="secondFormGroup" class="contact-form">
              <div class="contact-inputs">
                <mat-form-field>
                  <mat-label>Nombre</mat-label>
                  <input matInput placeholder="" formControlName="Nombre" maxlength="44" required>
                  <mat-error
                    *ngIf="secondFormGroup.get('Nombre')?.invalid && (secondFormGroup.get('Nombre')?.dirty || secondFormGroup.get('Nombre')?.touched)">
                    Dato obligatorio.
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Apellido</mat-label>
                  <input matInput placeholder="" formControlName="Apellido" maxlength="44">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Teléfono</mat-label>
                  <input matInput formControlName="Telefono" placeholder="+54 351 xxxxxxxxx" maxlength="44" required>
                  <mat-error
                    *ngIf="secondFormGroup.get('Telefono')?.invalid && (secondFormGroup.get('Telefono')?.dirty || secondFormGroup.get('Telefono')?.touched)">
                    Dato obligatorio.
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Email</mat-label>
                  <input matInput type="email" formControlName="Email" placeholder="ejemplo@gmail.com" maxlength="99">
                  <mat-error
                    *ngIf="secondFormGroup?.get('email')?.hasError('email') && !secondFormGroup.get('email')?.hasError('required')">
                    Por favor ingrese un e-mail válido.
                  </mat-error>
                  <mat-error *ngIf="secondFormGroup?.get('email')?.hasError('required')">
                    El e-mail es <strong>necesario</strong>
                  </mat-error>
                </mat-form-field>
                <div style="display: flex;">
                  <div class="btn-contacto">
                    <button mat-mini-fab tabindex="-1" (click)="agregarContacto()">
                      <mat-icon>{{controlEdit ? 'save' : 'add'}}</mat-icon>
                    </button>
                  </div>
                  <div style="padding-left: 0.5rem;" *ngIf="controlEdit">
                    <button color="warn" mat-mini-fab (click)="deleteContact()">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="contact-cards">
            <mat-card *ngFor="let contacto of contactos">
              <mat-card-header>
                <mat-card-title>Contacto: {{ contacto?.nombre + ' ' + contacto?.apellido }}</mat-card-title>
                <mat-card-actions>
                  <button mat-mini-fab (click)="editarContacto(contacto)" class="btn-editar">
                    <mat-icon>edit</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card-header>
              <mat-card-content>
                <p>Teléfono: {{ contacto?.telefono }}</p>
                <p>Email: {{ contacto?.email }}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="btn-next">
          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Resumen</ng-template>
        <ng-container>
          <div class="resumen-container">
            <div *ngIf="resumenDatos" class="datos-cliente">
              <h6>Datos del Cliente:</h6>
              <p *ngIf="resumenDatos.datosCliente">Razon social: {{ resumenDatos.datosCliente.RazonSocial }}</p>
              <p *ngIf="resumenDatos.datosCliente">CUIT: {{ resumenDatos.datosCliente.CUIT }}</p>
              <p *ngIf="resumenDatos.datosCliente">Dirección: {{ resumenDatos.datosCliente.Direccion }}</p>
              <p *ngIf="resumenDatos.datosCliente">Riesgo: {{ resumenDatos.datosCliente.Riesgo?.riesgo }}</p>
              <p *ngIf="resumenDatos.datosCliente">Rubro: {{ resumenDatos.datosCliente.Rubro?.rubro }}</p>
            </div>

            <div *ngIf="resumenDatos.contactos && resumenDatos.contactos.length > 0" class="contactos-container">
              <div *ngFor="let contacto of resumenDatos.contactos; let i = index" class="contacto-card">
                <h6>Contacto {{ i + 1 }}:</h6>
                <div>
                  <div *ngFor="let key of ['Nombre', 'Apellido', 'Telefono', 'Email']">
                    <p>{{ key }}: {{ contacto[key | lowercase ] }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="btn-next">
          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-button (click)="crearCliente()" [disabled]="modificarEliminarHabilitado">Crear</button>
          <button mat-button matTooltip="Confirmar Cambio" (click)="modificarCliente()"
            [disabled]="!modificarEliminarHabilitado">Modificar</button>
          <button mat-button (click)="checkDelete()" [disabled]="!modificarEliminarHabilitado">Eliminar</button>
        </div>
      </mat-step>
    </mat-stepper>
  </ng-container>
</ng-container>

<ng-template #clientesHelp>
  <ol>
    <li><strong>Crear Cliente:</strong>
      <ol type="a">
        <li>Complete en la solapa "Datos del cliente" todos los campos obligatorios.</li>
        <li>Presione el boton "Siguiente". </li>
        <li><strong>Crear Contacto:</strong>
          <ol type="1">
        <li>Complete en la solapa Crear Agenda todos los campos para crear contactos. </li>
        <li>Agregue el contacto presionando el boton "Más". </li>
        <li>Repita el paso 1 y 2 para agregar más contactos. </li>
        <li>Presione el boton "Siguiente". </li>
        </ol>
        <li>Revise en la solapa resumen que todos los campos ingresados sean correctos.</li>
        <li>Presione el botón "Crear".</li>
      </ol>
    </li>
    <li><strong>Editar Cliente:</strong>
      <ol type="a">
        <li>Busque el Cliente que desea editar en la lista desplegable ("Razon Social").</li>
        <li>Seleccione el Cliente deseado.</li>
        <li>Modifique los datos necesarios.</li>
        <li>Presione el boton "Siguiente". </li>
        <li><strong>Editar Contactos:</strong>
          <ol type="1">
            <li>Presiona la tarjeta del contacto que desea Editar.</li>
            <li>Modifique los datos deseados.</li>
            <li>Presione el botón "Más".</li>
            <li>Repita los pasos anteriores para editar más contactos. </li>
            <li>Presione el boton "Siguiente". </li>
          </ol>
      <li>Revise en la solapa resumen que todos los campos editados sean correctos.</li>
      <li>Presione el botón "Modificar".</li>
      </ol>
    </li>
    <li><strong>Eliminar Cliente:</strong>
      <ol type="a">
        <li>Busque el Cliente que desea eliminar en la lista desplegable.</li>
        <li>Dirijase a la solapa Resumen en el paso 3.</li>
        <li>Presione el botón "Eliminar".</li>
      </ol>
    </li>
  </ol>
</ng-template>

