
<ng-container *ngIf="(stepperOrientation | async) as orientation">
    <ng-container [ngSwitch]="orientation">
      <ng-container *ngSwitchCase="'horizontal'">
      </ng-container>
      <ng-container *ngSwitchCase="'vertical'">
      </ng-container>
    </ng-container>
  
    <mat-stepper class="example-stepper" [orientation]="orientation" [ngStyle]="getStepperStyles()">
        <mat-step [stepControl]="firstFormGroup" label="Datos del Cliente">
            <form [formGroup]="firstFormGroup">
              <mat-form-field>
                <mat-label>Razon Social</mat-label>
                <input matInput placeholder="" formControlName="RazonSocial" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>CUIT</mat-label>
                <input matInput placeholder="xx-xxxxxxxx-x" formControlName="CUIT" required>
              </mat-form-field> 
              <mat-form-field>
                <mat-label>Rubro</mat-label>
                <mat-select formControlName="Rubro" required>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>     
              <mat-form-field>
                <mat-label>Riesgo</mat-label>
                <mat-select formControlName="Riesgo" required>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>   
                  <div>
                <button mat-button matStepperNext>Siguiente</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" label="Crear Agenda">
            <form [formGroup]="secondFormGroup">
              <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="" formControlName="Nombre" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Apellido</mat-label>
                <input matInput placeholder="" formControlName="Apellido">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Dirección</mat-label>
                <input matInput formControlName="Direccion" placeholder="Calle, número, ciudad" required>
              </mat-form-field>      
              <mat-form-field>
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="Telefono" placeholder="+54 351 xxxxxxxxx" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input matInput type="email" formControlName="Email" placeholder="ejemplo@gmail.com">
                <mat-error *ngIf="secondFormGroup?.get('email')?.hasError('email') && !secondFormGroup.get('email')?.hasError('required')">
                  Por favor ingrese un e-mail válido.
                </mat-error>
                <mat-error *ngIf="secondFormGroup?.get('email')?.hasError('required')">
                  El e-mail es <strong>necesario</strong>
                </mat-error>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Atrás</button>
                <button mat-button matStepperNext>Siguiente</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Resumen</ng-template>
            <p>Razon Social: {{ firstFormGroup.get('RazonSocial')?.value }}</p>
            <p>CUIT: {{ firstFormGroup.get('CUIT')?.value }}</p>
            <p>Rubro: {{ firstFormGroup.get('Rubro')?.value }}</p>
            <p>Riesgo: {{ firstFormGroup.get('Riesgo')?.value }}</p>
            <p>Nombre: {{ secondFormGroup.get('Nombre')?.value }}</p>
            <p>Apellido: {{ secondFormGroup.get('Apellido')?.value }}</p>
            <p>Dirección: {{ secondFormGroup.get('Direccion')?.value }}</p>
            <p>Teléfono: {{ secondFormGroup.get('Telefono')?.value }}</p>
            <p>Email: {{ secondFormGroup.get('Email')?.value }}</p>
            <div>
              <button mat-button matStepperPrevious>Atrás</button>
              <button mat-button>Crear</button>
            </div>
          </mat-step>
    </mat-stepper>
  </ng-container>
