
<ng-container *ngIf="secondFormGroup">
<ng-container *ngIf="(stepperOrientation | async) as orientation">
    <ng-container [ngSwitch]="orientation">
      <ng-container *ngSwitchCase="'horizontal'">
      </ng-container>
      <ng-container *ngSwitchCase="'vertical'">
      </ng-container>
    </ng-container>
  
    <mat-stepper class="example-stepper" [orientation]="orientation" [ngStyle]="getStepperStyles()">
        <mat-step [stepControl]="firstFormGroup" label="Datos del Cliente">
            <form [formGroup]="firstFormGroup">
              <mat-form-field>
                <mat-label>Razon Social</mat-label>
                <input matInput placeholder="" formControlName="RazonSocial" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>CUIT</mat-label>
                <input matInput placeholder="xx-xxxxxxxx-x" formControlName="CUIT" required>
              </mat-form-field> 
              <mat-form-field>
                <mat-label>Rubro</mat-label>
                <mat-select formControlName="Rubro" required>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>     
              <mat-form-field>
                <mat-label>Riesgo</mat-label>
                <mat-select formControlName="Riesgo" required>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>   
                  <div class="btn-next">
                <button mat-button matStepperNext>Siguiente</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" label="Crear Agenda">
            <form [formGroup]="secondFormGroup">
              <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="" formControlName="Nombre" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Apellido</mat-label>
                <input matInput placeholder="" formControlName="Apellido">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Dirección</mat-label>
                <input matInput formControlName="Direccion" placeholder="Calle, número, ciudad" required>
              </mat-form-field>      
              <mat-form-field>
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="Telefono" placeholder="+54 351 xxxxxxxxx" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>E-mail</mat-label>
                <input matInput type="email" formControlName="Email" placeholder="ejemplo@gmail.com">
                <mat-error *ngIf="secondFormGroup?.get('email')?.hasError('email') && !secondFormGroup.get('email')?.hasError('required')">
                  Por favor ingrese un e-mail válido.
                </mat-error>
                <mat-error *ngIf="secondFormGroup?.get('email')?.hasError('required')">
                  El e-mail es <strong>necesario</strong>
                </mat-error>
              </mat-form-field>
              <div class="btn-contacto">
              <button  mat-mini-fab tabindex="-1" (click)="agregarContacto()" [disabled]="!secondFormGroup.get('Nombre')?.value || !secondFormGroup.get('Direccion')?.value || !secondFormGroup.get('Telefono')?.value || !secondFormGroup.get('Email')?.value">
                <mat-icon>add</mat-icon>
                </button>
              </div>
              <div class="btn-next">
                <button mat-button matStepperPrevious>Atrás</button>
                <button mat-button matStepperNext>Siguiente</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Resumen</ng-template>
            <section class="tarjetas">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Empresa</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Razon Social: {{ firstFormGroup.get('RazonSocial')?.value }}</p>
                    <p>CUIT: {{ firstFormGroup.get('CUIT')?.value }}</p>
                    <p>Rubro: {{ firstFormGroup.get('Rubro')?.value }}</p>
                    <p>Riesgo: {{ firstFormGroup.get('Riesgo')?.value }}</p>
                </mat-card-content>
            </mat-card>
            
            <mat-card *ngFor="let contacto of contactos">
                <mat-card-header>
                    <mat-card-title>Contacto {{ contacto.id }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Nombre: {{ contacto.nombre }}</p>
                    <p>Apellido: {{ contacto.apellido }}</p>
                    <p>Dirección: {{ contacto.direccion }}</p>
                    <p>Teléfono: {{ contacto.telefono }}</p>
                    <p>Email: {{ contacto.email }}</p>
                </mat-card-content>
            </mat-card>  
        </section>
        <div class="btn-next">
            <button mat-button matStepperPrevious>Atrás</button>
            <button mat-button >Crear</button>
          </div>
          </mat-step>
        
    </mat-stepper>
  </ng-container>
</ng-container>
