<div>
    <div class="modal-header">
        <div>
            <h6 class="modal-title font-weight-bold">Editar servicio ID: {{ data.servicioRecibido.idServicio }}</h6>
        </div>
        <mat-icon style="font-size: 1.2rem; cursor: pointer;" [mat-dialog-close]="true">close</mat-icon>
    </div>

    <form (submit)="loadChanges()">
        <mat-card>
            <mat-card-content id="cardContent">
                <div class="card">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="tipoEstado" style="margin-right: 1rem;">Establecer nuevo estado</label><br>
                            <select class="form-select" id="tipoEstado" [(ngModel)]="selectedEstado" name="selectedEstado"
                                (ngModelChange)="onEstadoChange()">
                                <option *ngFor="let estado of estadosList" [value]="estado.tipoEstado">{{ estado.tipoEstado
                                    }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="fechaHoraNotificacion">Indique hora y fecha para el recordatorio</label>
                            <input [disabled]="checkEditable()" name="fechaHoraNotificacion" type="datetime-local" class="form-control"
                                [(ngModel)]="data.servicioRecibido.fecha_notificacion" (change)="handleChange($event)"
                                [min]="minDate">
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="presupuesto">Se ha presupuestado</label>
                            <input [disabled]="checkEditable()" type="number" class="form-control" id="presupuesto" name="presupuesto"
                                [(ngModel)]="data.servicioRecibido.total_presupuestado" min="0"
                                (blur)="validarPresupuesto()" #presupuestoInput>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="comentario">Comentario</label>
                            <textarea [disabled]="checkEditable()" type="text" class="form-control" id="comentario" name="comentario"
                                [(ngModel)]="data.servicioRecibido.comentario"></textarea>
                        </div>
                    </div>
                </div>
            </mat-card-content>

            <div style="display: flex; justify-content: end;">
                <mat-card-actions>
                    <button mat-dialog-close mat-raised-button color="primary" type="submit">Guardar</button>
                </mat-card-actions>
            </div>

        </mat-card>
    </form>
</div>