<div id="bodyCheckList" class="checklistpopup">
    <div class="modal-header">
        <div>
            <h6 class="modal-title font-weight-bold">CHECKLIST</h6>
            <h5>Seleccioná un elemento para ver su descripción</h5>
        </div>
        <mat-icon style="font-size: 1.2rem; cursor: pointer;" [mat-dialog-close]="true">close</mat-icon>
    </div>

    <!-- Cuerpo del checklist -->
    <div class="modal-body">

        <!-- Progress bar -->
        <span style="display: block; padding-bottom: 0.3rem;">
            <mat-progress-bar mode="determinate" [value]="avance"></mat-progress-bar>
        </span>

        <!-- Lista de items del checklist -->
        <div id="checkBox" class="list-group">

            <cdk-accordion>

                <cdk-accordion-item #accordionItem="cdkAccordionItem" role="button" tabindex="0"
                    *ngFor="let item of this.dataSourceItems; let index = index;"
                    [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
                    [attr.aria-controls]="'accordion-body-' + index" [disabled]="!itemManagement(item)">

                    <div id="accordionItem" (click)="isReadOnly ? accordionItem.toggle() : null">
                        <!-- Rotulo del item del checklist -->
                        <div
                            class="list-group-item list-group-item-action checkboxContainer rowChecklist rowDetail editable">
                            <span>
                                <mat-checkbox [checked]="item.completo"
                                    (change)="updateAvance(item); getChange(index, item)"
                                    (click)="$event.stopPropagation()" [disabled]="!itemManagement(item)">
                                </mat-checkbox>
                                <span>
                                    {{item.nombreItem}} <span style="color: var(--primary);">{{' ('+
                                        getRol(item.idRecurso!)+')'}}</span> &nbsp;
                                    <span style="font-style: oblique; color: #f44336;">
                                        {{item.notificado ? '"Se considera notificado"' : ''}}
                                    </span>
                                </span>
                            </span>

                            <button id="btnDele" mat-button color="warn"
                                *ngIf="isAdmin && !itemsToDelete.includes(item)"
                                (click)="$event.stopPropagation(); goDelete(item)">
                                {{'Borrar'}}
                            </button>
                            <button id="btnUndo" mat-button color="primary" *ngIf="itemsToDelete.includes(item)"
                                (click)="$event.stopPropagation(); undoDelete(item)">
                                {{'Deshacer'}}
                            </button>

                        </div>
                    </div>

                    <!-- Cuerpo o región del item del checklist -->
                    <div role="region" class="cdk-accordion-content-body"
                        [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                        [attr.aria-labelledby]="'accordion-header-' + index">

                        <!-- Contenido del item del checklist-->
                        <!-- Mensaje estático -->
                        <p>Responsable: {{ item.responsable }}</p>
                        <p>Se ha iniciado el: {{ item.inicioEstimado | date:'dd/MM/yyyy' }}</p>

                        <p style="color: #f44336" *ngIf="item.completo && item.finReal">
                            Se ha finalizado el: {{ item.finReal | date:'dd/MM/yyyy' }}
                        </p>

                        <!-- Mensaje según ítem finalizado -->
                        <ng-container *ngIf="!item.completo">
                            <p>Se estima finalizar el: {{ item.finEstimado | date:'dd/MM/yyyy' }}</p>
                        </ng-container>

                        <ng-container>
                            <p *ngIf="item.completo && !item.finReal" style="color: #f44336">
                                Se marcó como finalizado
                            </p>
                        </ng-container>


                        <mat-divider style="margin: 0.5rem 0;"></mat-divider>

                        <!-- Datos editables -->
                        <form [formGroup]="formChecklist">
                            <fieldset>
                              <mat-chip-option [selected]="incluyeImpuestoStates"
                                style="height: 50%;" color="primary" (click)="updateCheckTasa()">
                                <span>{{ incluyeImpuestoStates ? 'Establecer impuestos/tasas' : 'Editar impuestos/tasas'}}</span>
                              </mat-chip-option>
                            </fieldset>
                          
                            <div class="row" style="display: flex; justify-content:flex-start; align-items: flex-start;">

                            <div class="col-md-6">
                                <mat-form-field floatLabel="always" style="width: 100%;">
                                    <mat-label>Valor de impuestos/tasas</mat-label>
                                    <input *ngIf="!isReadOnly" matInput type="number" id="valorTasa" formControlName="valorTasa"
                                        (change)="getChange(index+1, item)" [readonly]="isReadOnly" placeholder="{{item.tasaValor}}">
                            
                                    <mat-error *ngIf="(formChecklist.get('valorTasa')!.hasError('pattern')) && !isReadOnly">
                                        Digitos máximos 9
                                    </mat-error>
                            
                                    <input *ngIf="isReadOnly" matInput [readonly]="isReadOnly" [value]="item.tasaValor || 0">
                                    <span matTextPrefix>$&nbsp;</span>
                                </mat-form-field>
                            </div>
                          
                              <div class="col-md-6">
                                <mat-form-field floatLabel="always" style="width: 100%;">
                                  <mat-label>Cantidad de hojas</mat-label>
                                  <input *ngIf="!isReadOnly" matInput type="number" id="hojas" formControlName="hojas"
                                 (change)="getChange(index+2, item)" [readonly]="isReadOnly" placeholder="{{item.tasaCantidadHojas}}">

                                <mat-error *ngIf="(formChecklist.get('hojas')!.hasError('max')) && !isReadOnly">
                                    Máximo permitido 999
                                </mat-error>

                                 <input *ngIf="isReadOnly" matInput [readonly]="isReadOnly" [value]="item.tasaCantidadHojas || 0">
                                </mat-form-field>
                              </div>
                            </div>
                          
                            <mat-form-field floatLabel="always" style="width: 100%;">

                              <mat-label>URL Comprobante</mat-label>
                              <input *ngIf="!isReadOnly" matInput type="url" id="urlComprobante" formControlName="urlComprobante"
                               (change)="getChange(index+3, item)" [readonly]="isReadOnly" placeholder="{{item.urlComprobanteTasa ? item.urlComprobanteTasa : 'https://repo-gg.com'}}"
                               (onchange)="formChecklist.markAllAsTouched()">

                                <mat-error *ngIf="(formChecklist.get('urlComprobante')!.hasError('pattern')) && !isReadOnly">
                                    URL inválida. Debe comenzar con https://
                                </mat-error>

                                <input *ngIf="isReadOnly" matInput [readonly]="isReadOnly" [value]="item.urlComprobanteTasa ? item.urlComprobanteTasa : 'https://repo-gg.com'">

                            </mat-form-field>
                          
                            <div class="row" style="display: flex; justify-content:flex-start; align-items: flex-start;">

                                <div class="col-md-6">
                                    <fieldset *ngIf="updatedNotify">
                                        <mat-chip-option [selected]="item.notificado" style="height: 50%;" color="warn"
                                          (click)="updateNotificado(item); getChange(index+4, item)">
                                          <span>{{ item.notificado ? 'Se ha establecido notificado' : 'Establecer como notificado' }}</span>
                                        </mat-chip-option>
                                      </fieldset>
                                </div>
                                <div class="col-md-6" style="display: flex; justify-content: end; align-items: flex-end;">
                                    <button mat-raised-button color="primary" [disabled]="saveDatabtn" type="button"
                                        (click)="saveDataImpuestos(item)">
                                        <span>Establecer Cambios</span>
                                    </button>
                                </div>
                                
                            </div>

                            
                        </form>
                          

                        <mat-divider style="margin: 0.5rem 0;"></mat-divider>

                    </div>
                </cdk-accordion-item>

            </cdk-accordion>

            <!-- Botones del checklist -->
            <div id="checklist-footer" class="modal-footer">
                <button *ngIf="isAdmin" mat-raised-button color="primary" (click)="openAddItemComponent()">
                    <span matTooltip="Agregar al checklist">+ Nuevo Ítem</span>
                </button>
                <button mat-raised-button color="accent" [disabled]="!modified || formChecklist.invalid" [mat-dialog-close]="true" type="button"
                    (click)="managElement()">
                    <span>Guardar</span>
                </button>
            </div>

        </div>

    </div>

</div>