<div id="bodyCheckList" class="checklistpopup">
    <div class="modal-header">
        <div>
            <h6 class="modal-title font-weight-bold">CHECKLIST</h6>
            <h5>Seleccioná un elemento para ver su descripción</h5>
        </div>
        <mat-icon style="font-size: 1.2rem; cursor: pointer;" [mat-dialog-close]="true">close</mat-icon>
    </div>

    <!-- Cuerpo del checklist -->
    <div class="modal-body">

        <!-- Progress bar -->
        <span style="display: block; padding-bottom: 0.3rem;">
            <mat-progress-bar mode="determinate" [value]="avance"></mat-progress-bar>
        </span>

        <!-- Lista de items del checklist -->
        <div id="checkBox" class="list-group">

            <cdk-accordion>

                <cdk-accordion-item #accordionItem="cdkAccordionItem" role="button" tabindex="0"
                    *ngFor="let item of this.dataSourceItems; let index = index;" (opened)="accordionItemOpened(item)"
                    [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
                    [attr.aria-controls]="'accordion-body-' + index" [disabled]="!itemManagement(item)">

                    <div id="accordionItem" (click)="accordionItem.toggle()">
                        <!-- Rotulo del item del checklist -->
                        <div
                            class="list-group-item list-group-item-action checkboxContainer rowChecklist rowDetail editable">
                            <span>
                                <mat-checkbox [checked]="item.completo" (change)="updateAvance(item)"
                                    (click)="$event.stopPropagation()" [disabled]="!itemManagement(item)">
                                </mat-checkbox>
                                <span>
                                    {{item.nombreItem}} &nbsp;
                                    <span style="font-style: oblique; color: #f44336;">
                                        {{item.notificado ? '"Se considera notificado"' : ''}}
                                    </span>
                                </span>
                            </span>

                            <button id="btnDele" mat-button color="warn"
                                *ngIf="isAdmin && !itemsToDelete.includes(item)"
                                (click)="$event.stopPropagation(); goDelete(item)">
                                {{'Borrar'}}
                            </button>
                            <button id="btnUndo" mat-button color="primary" *ngIf="itemsToDelete.includes(item)"
                                (click)="$event.stopPropagation(); undoDelete(item)">
                                {{'Deshacer'}}
                            </button>

                        </div>
                    </div>

                    <!-- Cuerpo o región del item del checklist -->
                    <div role="region" class="cdk-accordion-content-body"
                        [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                        [attr.aria-labelledby]="'accordion-header-' + index">

                        <!-- Contenido del item del checklist-->
                        <!-- Mensaje estático -->
                        <p>Responsable: {{ item.responsable }}</p>
                        <p>Se ha iniciado el: {{ item.inicioEstimado | date:'dd/MM/yyyy' }}</p>

                        <p style="color: #f44336" *ngIf="item.completo && item.finReal">
                            Se ha finalizado el: {{ item.finReal | date:'dd/MM/yyyy' }} ( {{item.horasDesvio}} hs {{item.horasDesvio! > 0 ? 'después de lo previsto' : item.horasDesvio! < 0 ? 'antes de lo previsto' : 'de diferencia, según lo previsto'}} )
                        </p>

                        <!-- Mensaje según ítem finalizado -->
                        <ng-container *ngIf="!item.completo">
                            <p>Se estima finalizar el: {{ item.finEstimado | date:'dd/MM/yyyy' }}</p>
                        </ng-container>

                        <ng-container>
                            <p *ngIf="item.completo && !item.finReal" style="color: #f44336">
                                Se marcó como finalizado
                            </p>
                        </ng-container>


                        <mat-divider style="margin: 0.5rem 0;"></mat-divider>

                        <!-- Datos editables -->
                        <form [formGroup]="form">
                            <fieldset>
                                <mat-chip-option [selected]="incluyeImpuestoStates[item.idItemChecklist!]"
                                    style="height: 50%;" color="warn" (click)="updateCheckTasa(item)">
                                    <span>{{ incluyeImpuestoStates[item.idItemChecklist!] ? 'Establecer impuestos/tasas': 'Editar impuestos/tasas'}}</span>
                                </mat-chip-option>
                            </fieldset>

                            <div class="row"
                                style="display: flex; justify-content:flex-start; align-items: flex-start;">
                                <div class="col-md-4">
                                    <fieldset class="form-group">
                                        <label for="tasaValor" style="margin-right: 0.5rem;">Valor de
                                            impuestos/tasas</label>
                                        <div style="display: flex; align-items: center;">
                                            <span style="margin-right: 0.5rem;">$</span>
                                            <input *ngIf="true" type="number" id="tasaValor" 
                                            formControlName="tasaValor" (change)="getChange('tasaValor', item)" [value]="item.tasaValor">
                                        </div>
                                        <div
                                            *ngIf="form.get('tasaValor')?.invalid && (form.get('tasaValor')?.dirty || form.get('tasaValor')?.touched)">
                                            <div class="text-danger"
                                                *ngIf="form.get('tasaValor')?.errors?.['required']">Valor de
                                                impuestos/tasas es requerido.</div>
                                            <div class="text-danger"
                                                *ngIf="form.get('tasaValor')?.errors?.['maxlength']">El valor de
                                                impuestos/tasas no puede exceder 9 dígitos.
                                            </div>
                                            <div class="text-danger" *ngIf="form.get('tasaValor')?.errors?.['min']">No
                                                se adminiten números negativos.</div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="col-md-3">
                                    <fieldset class="form-group">
                                        <label for="hojas">Cantidad de hojas </label>
                                        <input type="number" id="hojas" formControlName="tasaCantidadHojas"
                                            (change)="getChange('tasaCantidadHojas', item)" value="10"
                                            min="0" 
                                            max="999" 
                                            step="1" 
                                            oninput="this.value = Math.abs(Math.floor(this.value))">
                                        <div
                                            *ngIf="form.get('tasaCantidadHojas')?.invalid && (form.get('tasaCantidadHojas')?.dirty || form.get('tasaCantidadHojas')?.touched)">
                                            <div class="text-danger"
                                                *ngIf="form.get('tasaCantidadHojas')?.errors?.['required']">Cantidad de
                                                hojas es requerido.</div>
                                            <div class="text-danger"
                                                *ngIf="form.get('tasaCantidadHojas')?.errors?.['max']">La cantidad de
                                                hojas no puede exceder 999.</div>
                                            <div class="text-danger"
                                                *ngIf="form.get('tasaCantidadHojas')?.errors?.['min']">No se adminiten
                                                números negativos.
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <fieldset class="form-group">
                                <label for="urlComprobanteTasa">URL Comprobante:</label>
                                <input type="url" id="urlComprobanteTasa" formControlName="urlComprobanteTasa"
                                    placeholder="https://repo-gg.com" pattern="https://.*" style="width: 100%;"
                                    (change)="getChange('urlComprobanteTasa', item)" />
                                <div
                                    *ngIf="form.get('urlComprobanteTasa')?.invalid && (form.get('urlComprobanteTasa')?.dirty || form.get('urlComprobanteTasa')?.touched)">
                                    <div class="text-danger" *ngIf="form.get('urlComprobanteTasa')?.errors?.['required']">
                                        URL Comprobante es requerido.</div>
                                    <div class="text-danger" *ngIf="form.get('urlComprobanteTasa')?.errors?.['pattern']">La
                                        URL debe empezar con "https://".</div>
                                </div>
                            </fieldset>

                            <div *ngIf="notifyIsVisible">
                                <fieldset>
                                    <mat-chip-option [selected]="item.notificado" style="height: 50%;" color="warn"
                                        (click)="updateNotificado(item); getChange('notificado', item)">
                                        <span>{{ item.notificado ? 'Se ha establecido notificado' : 'Establecer como notificado'}}</span>
                                    </mat-chip-option>
                                </fieldset>
                            </div>

                        </form>

                        <mat-divider style="margin: 0.5rem 0;"></mat-divider>

                    </div>
                </cdk-accordion-item>

            </cdk-accordion>

            <!-- Botones del checklist -->
            <div id="checklist-footer" class="modal-footer">
                <button *ngIf="isAdmin" mat-raised-button color="primary" (click)="openAddItemComponent()">
                    <span matTooltip="Agregar al checklist">+ Nuevo Ítem</span>
                </button>
                <button mat-raised-button color="accent" type="button" (click)="managElement()" [disabled]="save">
                    <span>Guardar</span>
                </button>
            </div>

        </div>

    </div>

</div>