<div class="modal-body">
    <div class="menu">
        <mat-label>Reportes Disponibles</mat-label>
        <mat-divider></mat-divider>
        <mat-action-list class="childList">
            <button mat-list-item routerLink="reportes/servicios-en-curso" mat-dialog-close>Servicios en curso</button>
            <button mat-list-item routerLink="reportes/servicios-en-curso" mat-dialog-close>Servicios en curso</button>
            <button mat-list-item routerLink="reportes/servicios-en-curso" mat-dialog-close>Servicios en curso</button>
            <button mat-list-item routerLink="reportes/servicios-en-curso" mat-dialog-close>Servicios en curso</button>
            <button mat-list-item routerLink="reportes/servicios-en-curso" mat-dialog-close>Servicios en curso</button>
            <button mat-list-item routerLink="reportes/servicios-en-curso" mat-dialog-close>Servicios en curso</button>
        </mat-action-list>
    </div>
</div>