form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

form>mat-icon{
  text-align: center;
  }

mat-radio-group{
  padding-bottom: 5%;
}

.btn-next {
  display: flex;
  justify-content: center;
  border-color: transparent;

}

.btn-buscar,
.btn-editar {
  cursor: pointer;
  background-color: #5f5e5e;
  box-shadow: 2px 0.2rem 0.2rem rgba(111, 110, 110, 0.468);
  border-width: 2px;
  border-color: aliceblue;
  color: rgb(250, 250, 250);
  margin-left: 3%;
  margin-bottom: 1rem;
}

.btn-buscar:hover {
  background-color: #673ab7;
  border-style: solid;
  color: #fefefe;
  transform: scale(1.05);
}

.btn-editar {
  position: absolute;
  top: 5px;
  /* Ajusta según sea necesario para la distancia desde la parte superior */
  right: 5px;
  /* Ajusta según sea necesario para la distancia desde el lado derecho */
  z-index: 1;
  height: 24px;
  /* Altura */
  width: 24px;
  bottom: 0px;
}

.btn-editar mat-icon {
  line-height: 22px;
  font-size: small;
}

.btn-editar:hover {
  background-color: #673ab7;
  border-style: solid;
  color: #fefefe;
  transform: scale(1.05);
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 1rem 0;
}

.mat-radio-button {
  display: flex;
  align-items: center;
}

.mat-radio-label {
  margin-left: 5px; /* Ajusta el margen según sea necesario */
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.backspace {
  cursor: pointer;
  color: var(--secondary)
}

.backspace:hover {
  color: var(--warn);
  transition: color 0.3s ease;
}


.infoSystem{
  width: 100%;
  margin-bottom: 6%;
  
  }

@media (max-width: 768px) {
  .column {
    flex-basis: 100%;
  }

  .infoSystem{
    width: 100%;
    margin-top: 4%;
      }

}
