<ng-container>
  <form [formGroup]="firstFormGroup">
    <mat-form-field>
      <input type="text" placeholder="Buscar Estado" aria-label="Buscar Estado" matInput [formControl]="myControl"
        [matAutocomplete]="auto" (focus)="onInputFocus()">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let estado of filteredOptions | async" [value]="estado.tipoEstado"
          (onSelectionChange)="seleccionarEstado(estado.idEstado!)">
          {{ estado.tipoEstado }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="Estado">Estado</mat-label>
      <input matInput placeholder="Nuevo Estado" formControlName="Estado" maxlength="99">
    </mat-form-field>

    <mat-radio-group formControlName="Categoria">
      <mat-radio-button *ngFor="let categoria of categorias" [value]="categoria.idCategoria!"
        [checked]="categoria.idCategoria === estadoSeleccionado?.idCategoria">
        {{categoria.categoria}}
      </mat-radio-button>
    </mat-radio-group>

    <div class="btn-abm">
      <button mat-button (click)="crearEstado()" [disabled]="modificarEliminarHabilitado">Crear</button>
      <button mat-button (click)="modificarEstado()" [disabled]="!modificarEliminarHabilitado">Modificar</button>
      <button mat-button (click)="checkDelete()" [disabled]="!modificarEliminarHabilitado">Eliminar</button>
    </div>
  </form>
</ng-container>